{% for i in products %}
                <!--
                -->
                <!-- style="background:{% if not i.isactive %}#f3d6d694;{% endif %}" -->
                <tr ondblclick="ajaxpage('addpdct{{i.id}}', 'Produit {{i.ref}}', '/products/viewoneproduct/{{i.id}}?target={{target}}')"
                
                data-product-id="{{ i.id }}" class="product-row ">
                    <td style="padding: 5px; font-weight: bold;" class="pe-2">
                        {{i.ref.upper}}
                    </td>
                    <td style="padding: 5px; font-weight: bold;">
                        {{i.name}}
                    </td>

                    <td style="padding: 5px; font-weight: bold;" class="text-center prachat">
                       {% if i.buyprice %} {{i.buyprice|floatformat:2}} {% else %} 0 {% endif %}
                    </td>
                    <td style="padding: 5px; font-weight: bold;" class="text-center">
                       {% if i.sellprice %} {{i.sellprice|floatformat:2}} {% else %} 0 {% endif %}
                    </td>
                    <td style="padding: 5px; font-weight: bold; font-size: 14px; color: var(--orange);" class="text-center">
                        {{i.remise}}
                    </td>
                    <td style="padding: 5px; font-weight: bold;" class="text-center">
                        {{i.prixnet|floatformat:2}}
                    </td>
                    <td style="padding: 5px; font-weight: bold;" class="text-center text-danger stock">
                        {% if target == 'f' %} {{i.stocktotalfarah}} {% else %} {{i.stocktotalorgh}} {% endif %}
                    </td>
                    <td style="padding: 5px; font-weight: bold;" class="text-center stockfacture" style="color: blue;">
                      <span class="stockfacture invisible">
                        {% if target == 'f' %} {{i.stockfacturefarah}} {% else %} {{i.stockfactureorgh}} {% endif %}
                      </span>
                  </td>

                    <td style="padding: 5px; font-weight: bold;">
                      {{i.diametre}}
                  </td>
                    <td style="padding: 5px; font-weight: bold;" class="text-success">
                      {{i.block}}
                  </td>
                  <td style="padding: 5px; font-weight: bold;">
                    {{i.coderef}}
                  </td>
                  <td style="padding: 5px; font-weight: bold;" class="text-danger">
                    {%if i.coutmoyen%}{{i.coutmoyen}}{%endif%}
                </td>
                    <td style="padding: 5px; font-weight: bold;">
                        {{i.getequivalent.0}}
                    </td>
                    <td style="padding: 5px; font-weight: bold;">
                        {{i.getequivalent.1}}
                    </td>
                    <td style="padding: 5px; font-weight: bold;">
                        {{i.getequivalent.2}}
                    </td>
                    <td style="padding: 5px; font-weight: bold;">
                      {{i.mark.name}}
                  </td>
                  <td style="padding: 5px; font-weight: bold;" class="text-danger">
                    {{i.code}}
                </td>


                <td style="padding: 5px; font-weight: bold;" class="text-danger">
                  <span class="percentage invisible">
                    {{i.getpercentage|floatformat:2}}
                  </span>
                </td>

                </tr>
              {% endfor %}