{% load global_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Example</title>
    <style>
      @media print {
         .livraison-holder {
             height: 27.5cm; /* Slightly less than the maximum printable height */
             width: 21cm; /* Full width of A4 */
             border: 1px solid black; /* For debugging and visibility */
             page-break-after: always; /* Ensures each div starts on a new page */
             box-sizing: border-box; /* Include padding and border in the element's total width and height */
         }

         /* Reset margins and paddings for printing */
         body {
             margin: 0;
             padding: 0;
         }
         td > div{
           margin:4px;
         }

         /* Optional: If you need to adjust margins more precisely */
         @page {
             margin: 0; /* Remove any default margins */
         }
     }
    </style>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquerySpellingNumber.js"></script>
    <link href="/static/css/minified.css" rel="stylesheet" />
</head>
<body>
<div class="bg-white rounded p-2 shadow">
    <div class="text-white rounded h3 d-flex align-items-center justify-content-between bg-darkblue">
        <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="deletetab()">x</button>
        <div>
          {{title}}
        </div>
        <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="forceupdatetab()">↻</button>
      </div>
    <form action="{% url 'products:addoneproduct' %}" autocomplete="off" method="post" class="addoneproductform container margin-auto" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="alert alert-danger existerror d-none">
            <strong>Erreur!</strong> Cette reference existe deja dans cette categorie
        </div>
        <div class="row mb-5">
            <div class="col-3">
                <small>REF (*)</small>
                <input type="text" class="form-control checkref" name="refinadd" placeholder="" required>
            </div>
            <div class="col-5">
                <small>Nom Article(*)</small>
                <input type="text" class="form-control" name="nameinadd">
            </div>
            <div class="col-2">
                <small>Block</small>
                <input type="text" class="form-control" name="blockinadd">
            </div>
            <!-- <div class="col-2">
                <small>Quantité jeux</small>
                <input type="number" class="form-control" name="qtyjeuinadd" required>
            </div> -->
            <div class="col-2">
                <small>Min.stock</small>
                <input type="number" class="form-control" name="minstockinadd" required>
            </div>
            <div class="col-3">
                <small>Categorie (*)</small><br>
                <select name="categoryinadd" class="form-select select2" style="width: 100%;" required>
                    <option value="">--</option>

                    {% for i in categories %}
                    <option value="{{i.id}}">
                        {{i.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <small>Marque (*)</small> <br>
                <select name="marqueinadd" class="form-select select2" required style="width:100%;">
                    <option value="">--</option>
                    {% for i in marques %}
                    <option value="{{i.id}}">
                        {{i.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <small>Prix vents brut</small>
                <input type="number" step="0.01" class="form-control" name="sellpriceinadd" required>
            </div>
            <div class="col-2">
                <small>Remise</small>
                <input type="number" step="0.01" name="remiseinadd" class="form-control">
            </div>
            
            <div class="col-3">
                <small>Unité</small>
                <input name="unite" id="" class="form-control">
            </div>
            <div class="mt-2">
                <small>Equivalents:</small>
                <textarea class="form-control" name="equivinadd" style="height: 97px;"></textarea>
            </div>

            <div class="mt-2">
                <small>Voitures:</small>
                <textarea class="form-control" name="carsinadd" style="height: 97px;"></textarea>
            </div>
        </div>


       


        

        <button class="btn btn-primary disabled submitbtn">
            + Ajouter
        </button>
    </form>
    <hr class="mt-5">
    <!-- add category -->
    <div class="row">
        <div class="col-6">
            <strong>Ajouter une category</strong>
            <div class=" d-flex">
                <input type="text" class="form-control" placeholder="Category">
                <button class="btn btn-success" onclick="addcategory(event)">+</button>
                
            </div>
        </div>
        
        <div class="col-6">
            <strong>Ajouter une marque</strong>
            <div class=" d-flex">
                <input type="text" class="form-control" placeholder="Marque">
                <button class="btn btn-success" onclick="addmark(event)">+</button>
                
            </div>
        </div>

    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/select2.min.js'%}"></script>
    <script src="{% static 'js/type.min.js'%}"></script>
    <script src="{% static 'js/number.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/alertify.min.js'%}"></script>
    <script>
    $('.select2').select2()
    function addmark(event){
        event.preventDefault()
        var marque = $(event.target).prev().val()
        if (marque==''){
            alertify.error('Veuillez remplir le champ')
            return
        }
        $.ajax({
            url: '{% url "products:addmark" %}',
            type: 'POST',
            data: {
                'marque': marque,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: function(data){
                if (data.success){
                    alertify.success('Marque ajoutée avec success')
                    //$('[name="marqueinadd"]').append(`<option value="${data.id}">${marque}</option>`)
                    $('[name="marqueinadd"]').append(`<option value="${data.id}">${marque}</option>`)
                    // Trigger Select2 to refresh and show the new option
                    //$('[name="marqueinadd"]').trigger('change')
                    $(event.target).prev().val('')
                }else{
                    alertify.error(data.error)
                }
            }
        })
    }
    function addcategory(event){
        event.preventDefault()
        var category = $(event.target).prev().val()
        if (category==''){
            alertify.error('Veuillez remplir le champ')
            return
        }
        $.ajax({
            url: '{% url "products:addcategory" %}',
            type: 'POST',
            data: {
                'category': category,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: function(data){
                console.log(data)
                if (data.success){
                    alertify.success('Categorie ajoutée avec success')
                    $('[name="categoryinadd"]').append(`<option value="${data.id}">${category}</option>`)
                    $(event.target).prev().val('')
                }else{
                    alertify.error(data.error)
                }
            }
        })
    }
    $(document).on("keypress", ":input:not(textarea)", function(event) {
        return event.keyCode != 13;
    }); 
    $('.submitbtn').on('click', function(e) {
        e.preventDefault();
        if ($('[name="refinadd"]').val()=='' || $('[name="nameinadd"]').val()=='' || $('[name="marqueinadd"]').val()=='' || $('[name="categoryinadd"]').val()==''){
            alertify.error('Veuillez remplir les champs obligatoires');
            return
        }
        $(e.target).addClass('disabled')
        var formData = new FormData($('.addoneproductform')[0]);
        formData.append('target', '{{target}}')
        console.log($('[name="commercialsprixinadd"]').val())
        $.ajax({
            url: '{% url "products:addoneproduct" %}',
            type: 'POST',
            
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                console.log(data);
                if (data.success) {
                    
                    alertify.success('Produit ajouté avec success');
                    // resetform
                    location.reload()
                    //$('.addoneproductform').trigger('reset');

                    //ajaxpage('addpducts', 'Articles', '/products/stock?target={{target}}')
                    // we dont want to reload the page !important
                    //ajaxpage('add', '+ Article', '/products/addproductspage?target={{target}}')
                    
                } else {
                    alertify.error(data.error);
                }
            },
            error: function(data){
                console.log(data)
            }
        });
    });
    $('.checkref').on('change', function() {
        $('.loadingscreen').toggleClass('d-none')
        var ref = $(this).val();
        var category = $('[name="categoryinadd"]').val();
        $.ajax({
            url: '{% url "products:checkref" %}',
            type: 'POST',
            data: {
                'ref': ref,
                'category': category,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: function(data) {
                console.log(data);
                $('.loadingscreen').toggleClass('d-none')
                if (data.exist) {
                    $('.existerror').removeClass('d-none');
                    $('.submitbtn').addClass('disabled');
                } else {
                    console.log(data)
                    $('.existerror').addClass('d-none');
                    $('.submitbtn').removeClass('disabled');
                    $('[name=nameinadd]').val(data.name)
                    $('[name=equivinadd]').val(data.equiv)
                }
            }
        });
    });
    
    $(document).ready(function() {
        
        
    });

</script>
</body>
</html>
<!-- End Path: products/templates/addproduct.html -->