<style>
    .autocomplete {
  position: relative;
  width: 300px; /* Adjust as needed */
}

#search-input {
  width: 100%;
  padding: 10px;
}

#suggestion-list {
  position: absolute;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}
</style>
<div class="text-white rounded h3 d-flex align-items-center justify-content-between bg-darkblue">
  <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="deletetab()">x</button>
  <div>
    {{title}}
  </div>
  <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="forceupdatetab()">↻</button>
</div>
  <div class="">
         <div class="bg-white rounded shadow p-2 mb-3 dataavoircl d-flex justify-content-between">
            <div class="col-5">
              <div class="mb-2">
                <small>Mode</small>
                <select name="mode" id="" style="width:100%;" class="form-select notemptylivraison modeselectav">
                  <option value="bl">BL</option>
                  <option value="facture">Facture</option>
                </select>
              </div>
                <div class="mb-2">
                    <select name="client" id="" style="width:100%;" class="select2 clientselectavoir form-select notemptylivraison">

                    </select>
                </div>
                <div class="mb-2">

                    <select name="representant" id="" style="width:100%;" class="select2 repsavclselects form-select notemptylivraison">
                        <option value="">Representant</option>
                        {% for i in commercials %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2">
                    <input type="date" class="form-control datebon" name="datebon" placeholder="Date bon">
                </div>
                <!--<div class="mb-2">
                    <input type="text" class="form-control orderno" name="orderno" value="{{receipt_no}}">
                </div>-->

            </div>

            <div class="col-7 row productsadderav">
              <div class="col-12">

                <select class="avoirclproducts mb-2 select2 form-select" style="width: 100%;">

                </select>
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Quantité" name="addqty">
                <div class="addstock text-danger"></div>
                <div class="addsource text-danger"></div>
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Prix" name="addprice">
                <div class="addclientprice text-danger"></div>
              </div>
              <div class="col-3">
                <input type="number" class="form-control" placeholder="Remise" name="addremise">
              </div>
              <div class="col-3">
                <button class="btn" onclick="addrowavoircli(event)" style="border: 4px solid;
                border-color: var(--darkblue);
                border-radius: 10px;
                height: 36px;
                text-align: center;
                background: #00800024;">Valider</button>
              </div>
              <div class="col-12">
                <input hidden readonly type="text" name="addname" class="form-control">
              </div>

            </div>




          </div>

      <div>
          <div class="bg-white rounded shadow p-2 tableholder">
              <!-- <div>
                  <small>
                      Ref.
                  </small>
                  <input type="text" name="ref" class="form-control searchref">
              </div> -->
              <div class="d-flex justify-content-between">

                  <div class="mb-3 col-5">

                </div>

            </div>
            <div class="col-5">
              <input type="text" class="searchbonlivraisoncreation" placeholder="Search..." />
            </div>
            <table class="table table-bordered text-center bonlivraisoncreation">
              <thead style="background: orange; color:#091b27;">
                  <tr>
                      <td style="padding: 2px 0; font-size: 13px; width: 9%;">REF</td>
                      <td style="padding: 2px 0; font-size: 13px;">Article</td>
                      <td style="padding: 2px 0; font-size: 13px; width: 9%;">Source</td>
                      <td style="padding: 2px 0; font-size: 13px;">Stock</td>
                      <td style="padding: 2px 0; font-size: 13px; width: 9%;">Dernier Pr. cli</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Quantité</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Prix unit.</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 3%;" >Remise</td>
                      <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Prix Net</td>
                      <td style="padding: 2px 0; font-size: 13px;">Total</td>
                  </tr>
              </thead>
              <!-- <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>TOTAL</td>
                  <td class="totalbon" style="background: orange; color:#091b27;">
                      0.00
                  </td>
                </tr>
              </tfoot> -->
              <tbody class="bonlivraisonbody">

              </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <button class="btn btn-success submitavcl" style="border-radius: 10px;">
                      Valider
                </button>
                <b class="totalbon text-danger">
                  0.00
                </b>
            </div>
          </div>
      </div>
  </div>

  <script>
    $(function(){
      $('.avoirclproducts').select2({
        minimumInputLength: 1,
        placeholder:'Chercher Produits',
        ajax: {
          type:'get',
          dataType: 'json',
          url: '/products/searchproduct',
          data: function (params) {
            var query = {
              term: params.term,
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          },
          proccessresults: function (data) {
              return {
                results:data.results
              }
          },
          cache:true
        }
      });
      $('.clientselectavoir').select2({
        minimumInputLength:1,
        placeholder: 'Select un client',
        ajax: {
          url: "{% url 'products:searchclient' %}",
          type: 'GET',
          dataType: 'json',
          data: function (params) {
            return {
              'term': params.term,
            }
          },
          processResults: function (data) {
            return {
              results: data.results
            };
          },
          cache: true
        }
      })
    })

    function addrowavoircli(event){
        let target=$(event.target)
        parentdiv=target.parent().parent().parent().parent()
        console.log(parentdiv)
        // this reset the select2 value
        // $('.avoirclproducts ').val('').trigger('change')
        // ids of products in bon stored in localstorage
        let bonachatbody = parentdiv.find('.bonlivraisonbody')
        let addsource = parentdiv.find('.addsource')
        let addname=parentdiv.find('[name="addname"]')
        let addqty=parentdiv.find('[name="addqty"]')
        let addprice=parentdiv.find('[name="addprice"]')
        let addremise=parentdiv.find('[name="addremise"]')
        let priceclient=parentdiv.find('.addclientprice ').text()
        // >>> in avoir it's ok if empty
        if (addqty.val()=='' || addprice.val()=='' || addremise.val()==''){
          alertify.error('Veuillez remplir tous les champs')
          return
        }
        var [ref, name, dp, stock, stockfacture, id, sellprice, remise, netprice, representprice] = addname.attr('data').split('§');
        console.log(ref, name, dp, stock, id, sellprice, remise, netprice, representprice)
        pdcts=JSON.parse(localStorage.getItem('pdctsinavoircl')) || []
        console.log(id, pdcts, pdcts.includes(id))
        if (pdcts.includes(id)){
          addqty.val('')
          addname.val('')
          addremise.val('')
          addprice.val('')
          addsource.text('')
          alertify.error('Ce produit est deja dans le bon')
          $('.avoirclproducts ').select2('open')

          return
        }

        pdcts.push(id)
        localStorage.setItem('pdctsinavoircl', JSON.stringify(pdcts))
        if (addremise.val()==""){
          remise=0
        }
        else{
          remise=addremise.val()
        }
        let net=(parseFloat(addprice.val())-(parseFloat(addprice.val())*parseFloat(remise)/100))
        let addtotal=(parseFloat(addqty.val())*parseFloat(net)).toFixed(2)
        let tr = `
        <tr class="itemrow ${stock<=0? "text-danger":"" }">: 2
            <td style="padding: 2px 0; font-size: 13px;" class="ref" onclick="checkConsecutiveClicks(event)">${ref}</td>
            <td style="padding: 2px 0; font-size: 13px;" class="name text-start">${name}</td>
            <td style="paddingpx 0; font-size: 13px;" class="source">${addsource.text()}</td>
            <td style="padding: 2px 0; font-size: 13px;">${stock}</td>
            <td style="padding: 2px 0; font-size: 13px;" class="clientprice">${priceclient}</td>
            <td style="padding: 2px 0; font-size: 13px;"><input type="number" class="calculate qty notemptylivraison" onkeyup="calculate(event)" name="qty" value="${addqty.val()}" style="height:23px; width:100%;"></td>
            <td style="padding: 2px 0; font-size: 13px;"><input type="number" class="calculate price notemptylivraison" onkeyup="calculate(event)" name="price" value="${addprice.val()}" step=0.01 style="height:23px; width:100%;"></td>
            <td style="padding: 2px 0; font-size: 13px;"><input type="number" value="${addremise.val()}" class="calculate remise" onkeyup="calculate(event)" name="remise" style="height:23px; width:100%;"></td>
            <td style="padding: 2px 0; font-size: 13px;">${netprice}</td>
            <td style="padding: 2px 0; font-size: 13px;" class="total">${addtotal}</td>
            <input type="hidden" name="productid" value="${id}">

        </tr>
        `

        bonachatbody.prepend(tr)
        // delete selected option
        addqty.val('')
        addname.val('')
        addremise.val('')
        addprice.val('')
        addsource.text('')
        totals=parentdiv.find('.total')
        totalbon=parentdiv.find('.totalbon')
        var totalSum = 0;
        totals.each(function() {
            totalSum += parseFloat($(this).text());
        });
        totalbon.text(totalSum.toFixed(2))
        $('.avoirclproducts ').select2('open')

        // let selected = $('.avoirclproducts ').find(':selected')
        // selected.remove()

      }


    // mode on change
    // $('.modeselectav').on('change', function(){
    //   // get client id
    //   clientid=$('.clientselectavoir').val()
    //   if (clientid==''){
    //     alertify.error('Select un client')
    //     return
    //   }
    //   // loading screen
    //   $('.loadingscreen').removeClass('d-none')
    //   if ($(this).val()=='bl'){
    //     // check if user has bl
    //     $.get('/products/checkbl/'+clientid, function(data){
    //       $('.loadingscreen').addClass('d-none')
    //       if (data.hasbl){
    //         $('.productsadderav').removeClass('d-none')
    //         // enable submit button
    //         $('.submitavcl').removeClass('disabled')
    //       }else{
    //         $('.productsadderav').addClass('d-none')
    //         alertify.error('Client n\' a pas de bon de livraison')
    //         // disable submit button
    //         $('.submitavcl').addClass('disabled')
    //       }
    //     })
    //   }else{
    //     // check if user has facture
    //     $.get('/products/checkfacture/'+clientid, function(data){
    //       $('.loadingscreen').addClass('d-none')
    //       if (data.hasfacture){
    //         $('.productsadderav').removeClass('d-none')
    //         // enable submit button
    //         $('.submitavcl').removeClass('disabled')
    //       }else{
    //         $('.productsadderav').addClass('d-none')
    //         alertify.error('Client n\' a pas de Facture')
    //         $('.submitavcl').addClass('disabled')

    //       }
    //     })
    //   }
    // })

    $('.clientselectavoir').on('change', function(){
      // get client id
      clientid=$(this).val()
      if (clientid==''){
        $('.productsadderav').addClass('d-none')
        alertify.error('Select un client')
        return
      }
      // get client rep
      $.get('/products/getclientrep/'+$(this).val(), function(data){
        $('.repsavclselects').val(data.id).trigger('change')
      })
    })
    //   $('.productsadderav').removeClass('d-none')
    //   // loading screen
    //   $('.loadingscreen').removeClass('d-none')
    //   // check if user has bl
    //   if ($('.modeselectav').val()=='bl'){
    //     $.get('/products/checkbl/'+clientid, function(data){
    //       $('.loadingscreen').addClass('d-none')
    //       if (data.hasbl){
    //         $('.productsadderav').removeClass('d-none')

    //         // enable submit button
    //         $('.submitavcl').removeClass('disabled')
    //       }
    //       else{
    //         $('.productsadderav').addClass('d-none')
    //         alertify.error('Client n\' a pas de bon de livraison')
    //         // disable submit button
    //         $('.submitavcl').addClass('disabled')
    //       }
    //     })
    //   }else{
    //     // check if user has facture
    //     $.get('/products/checkfacture/'+clientid, function(data){
    //       $('.loadingscreen').addClass('d-none')
    //       if (data.hasfacture){
    //         $('.productsadderav').removeClass('d-none')
    //         // enable submit button
    //         $('.submitavcl').removeClass('disabled')
    //       }else{
    //         $('.productsadderav').addClass('d-none')
    //         alertify.error('Client n\' a pas de Facture')
    //         $('.submitavcl').addClass('disabled')

    //       }
    //     })
    //   }
    //   // $('.avoirclproducts').select2({
    //   //   minimumInputLength: 1,
    //   //   placeholder:'Chercher Produits',
    //   //   ajax: {
    //   //     type:'get',
    //   //     dataType: 'json',
    //   //     url: '/products/searchproduct',
    //   //     data: function (params) {
    //   //       var query = {
    //   //         term: params.term,
    //   //       }
    //   //       // Query parameters will be ?search=[term]&type=public
    //   //       return query;
    //   //     },
    //   //     proccessresults: function (data) {
    //   //         return {
    //   //           results:data.results
    //   //         }
    //   //     },
    //   //     cache:true
    //   //   }
    //   // });

    // })

    localStorage.removeItem('pdctsinavoircl')
    localStorage.setItem('pdctsinavoircl', '[]')
    $(document).ready(function(){
      $('.clientselectavoir').select2('open')
    })
        // fill today's date in .datebon input
        var dateInput = document.querySelector('.datebon');

// Create a new Date object for today
        var today = new Date();

        // Get the current date in the "yyyy-mm-dd" format
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed, so we add 1
        var dd = String(today.getDate()).padStart(2, '0');

        // Format the date as "yyyy-mm-dd"
        var currentDate = yyyy + '-' + mm + '-' + dd;

        // Set the value of the date input to today's date
        dateInput.value = currentDate;


      $('.avoirclproducts').on('change', function(){

          parentdiv=$(this).parent().parent()
          console.log(parentdiv)
          if ($(this).val()==''){
              return
          }
          console.log($(this).val())
          var [ref, name, dp, stock, stockfacture, id, sellprice, remise, netprice, representprice] = $(this).val().split('§');
          let addsource=parentdiv.find('.addsource')
          console.log('>> source', addsource)
          let addname=$(this).parent().parent().find('input[name="addname"]')
          let addprice=$(this).parent().parent().find('input[name="addprice"]')
          let addremise=$(this).parent().parent().find('input[name="addremise"]')
          let addqty=$(this).parent().parent().find('input[name="addqty"]')
          console.log('qty of change',addqty)
          $(this).parent().parent().find('.addstock').html(`<span>Stocktotal:${stock}</span><br><span>StockFac:${stockfacture}</span>`)
          addqty.val('')
          addname.val(`${ref} - ${name}`).attr('data', `${ref}§${name}§${dp}§${stock}§${stockfacture}§${id}§${sellprice}§${remise}§${netprice}§${representprice}`)
          // we are getting ere list of reps that have price


          console.log('getting client price', id, $('.clientselectavoir').val())
          $.ajax({
              url: "{% url 'products:getclientprice' %}",
              type: 'POST',
              data: {
                  'id': id,
                  'clientid': $('.clientselectavoir').val(),
                  'target':$('.modeselectav').val(),
                  'csrfmiddlewaretoken': '{{csrf_token}}'
              },
              success: function(data){
                console.log(data.price)
                if (data.price==0){

                  alertify.error('Prix de client n\'est pas encore défini')
                  addprice.val(0)
                  addremise.val(0)
                }else{
                  addsource.text(data.source)
                  addprice.val(data.price)
                  addremise.val(data.remise)
                }
              }
            })

          let selected = $(this).find(':selected')
          // selected.remove()
          // delect selected option
      })

      $('.submitavcl').on('click', (e)=>{
        parentdiv=$(e.target).parent().parent().parent().parent()
        if (parentdiv.find('.clientselectavoir').val()=='' || parentdiv.find('.modeselectav').val()=='' || parentdiv.find('.repsavclselects').val()==''){
            $('.dataavoircl').addClass('border border-danger')
            console.log('clientselectavoir', parentdiv.find('.clientselectavoir').val(), 'modeselectav', parentdiv.find('.modeselectav').val(), 'repsavclselects', parentdiv.find('.repsavclselects').val())
            return
        }
        $('.dataavoircl').removeClass('border border-danger')
        // check if .itemrow is exist
        if (parentdiv.find('.itemrow').length==0){
            parentdiv.find('.tableholder').addClass('border border-danger')
            return
        }
        parentdiv.find('.tableholder').removeClass('border border-danger')
          var isAnyEmpty = parentdiv.find('.notemptylivraison').filter(function() { return $(this).val() == '' || $(this).val()==0; }).length > 0;
            if (isAnyEmpty){
                let emptyInputs = parentdiv.find('notemptylivraison').filter(function() {
                    return !this.value.trim();
                });

                // Add a red border to all empty input elements
                alertify.error('Veuillez remplir tous les champs obligatoires')
                emptyInputs.css('border', '1px solid red');
                parentdiv.find('input.notemptylivraison').not(emptyInputs).css('border', '');
                $(this).attr('disabled', false)
                return
            }
          localStorage.removeItem('pdctsinavoircl')
          parentdiv.find('.submitavcl').addClass('disabled')
          trs=parentdiv.find('.bonlivraisonbody tr')
          let products = []
          trs.each(function(){
              let tr = $(this)
              let qty = tr.find('.qty').val()
              let name = tr.find('.name').text()
              let ref = tr.find('.ref').text()
              let source = tr.find('.source').text()
              let price = tr.find('.price').val()
              let remise = tr.find('.remise').val()
              let total = tr.find('.total').text()
              let clientprice= tr.find('.clientprice').text()
              let productid = tr.find('input[name="productid"]').val()
              let product = {
                  'qty': qty,
                  'name': name,
                  'ref': ref,
                  'source': source,
                  'price': price,
                  'remise': remise,
                  'total': total,
                  'productid': productid,
                  'clientprice':clientprice
              }
              products.push(product)
          })
          let clientid = parentdiv.find('.clientselectavoir').val()
          let repid = parentdiv.find('.repsavclselects').val()
          let mode = parentdiv.find('.modeselectav').val()
          let datebon = parentdiv.find('.datebon').val()
          let transport = parentdiv.find('.transport').val()
          let orderno = parentdiv.find('.orderno').val()
          let totalbon=parseFloat(parentdiv.find('.totalbon').text())
          console.log(products)
          console.log(totalbon)
          console.log('sending')
          localStorage.setItem('pdctsinbonlivraison', '[]')
          data={
              'totalbon': totalbon,
              'clientid': clientid,
              'repid':repid,
              'transport':transport,
              'datebon': datebon,
              'mode': mode,
              'orderno': orderno,
              'products': JSON.stringify(products),
              'csrfmiddlewaretoken': '{{csrf_token}}'
          },
          $('.loadingscreen').removeClass('d-none')
          $.ajax({
              url: "{% url 'products:addavoirclient' %}",
              type: 'POST',
              data:{
                'totalbon': totalbon,
                'clientid': clientid,
                'repid':repid,
                'transport':transport,
                'datebon': datebon,
                'mode': mode,
                'orderno': orderno,
                'products': JSON.stringify(products),
                'csrfmiddlewaretoken': '{{csrf_token}}'
              },
              success: function(data){
                $('.loadingscreen').addClass('d-none')
                  alertify.success('Bon avoir creé')
                  deletetab('addavoir')
                  createtab('avoircl', 'AvoirCL', '/products/listavoirclient')
                  // remove list in localstorage
                  // $('#addavoir').html('')
                  // $('#addavoir').html(data.html)
                  // $('.select2').select2()

              }
          })

        })
      $('.searchbonlivraisoncreation').on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".bonlivraisoncreation tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });



      // const selectElement = document.getElementById("my-select");

      // selectElement.addEventListener("keydown", function(event) {
      //     if (event.key === "Enter") {

      //         var [ref, name, dp, stock, id] = selectElement.value.split('§');
      //         let bonachatbody = $('.bonachatbody')
      //         let tr = `
      //         <tr>
      //             <td class="ref">${ref}</td>
      //             <td class="name">${name}</td>
      //             <td>${dp}</td>
      //             <td>${stock}</td>
      //             <td>
      //                 <select name"local" class="form-select local">
      //                     <option value="principal">Principal</option>
      //                     <option value="depot">Depot</option>
      //                 </select>
      //             </td>
      //             <td><input type="number" class="form-control calculate qty" onkeyup="calculate(event)" name="qty"></td>
      //             <td><input type="number" class="form-control calculate price" onkeyup="calculate(event)" name="price"></td>
      //             <td><input type="number" class="form-control calculate remise" onkeyup="calculate(event)" name="remise"></td>
      //             <td class="total"></td>
      //             <input type="hidden" name="productid" value="${id}">
      //             <td><button class="btn btn-danger btn-sm" onclick="removefrombon(this)">X</button></td>
      //         </tr>
      //         `
      //         bonachatbody.prepend(tr)
      //         // delect selected option
      //         selectElement.remove(selectElement.selectedIndex);
      //     }
      // });


      // const addtobon=(e, ref, name, stock)=>{
      //     let target = $(e.target)
      //     console.log(target)
      //     target.remove()
      //     let bonachatbody = $('.bonachatbody')
      //     let tr = `
      //     <tr>
      //         <td>${ref}</td>
      //         <td>${name}</td>
      //         <td>${stock}</td>

      //         <td><input type="number" class="form-control calculate qty" onkeyup="calculate(event)" name="qty"></td>
      //         <td><input type="number" class="form-control calculate price" onkeyup="calculate(event)" name="price"></td>
      //         <td class="total"></td>
      //         <td><button class="btn btn-danger btn-sm" onclick="removefrombon(this)">X</button></td>
      //     </tr>
      //     `
      //     bonachatbody.append(tr)
      // }


  </script>
