{% load global_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print avoir</title>
    <style>
      @media print {
         .livraison-holder {
             height: 27.5cm; /* Slightly less than the maximum printable height */
             width: 21cm; /* Full width of A4 */
             border: 1px solid black; /* For debugging and visibility */
             page-break-after: always; /* Ensures each div starts on a new page */
             box-sizing: border-box; /* Include padding and border in the element's total width and height */
         }

         /* Reset margins and paddings for printing */
         body {
             margin: 0;
             padding: 0;
         }
         td > div{
           margin:4px;
         }

         /* Optional: If you need to adjust margins more precisely */
         @page {
             margin: 0; /* Remove any default margins */
         }
     }
    </style>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquerySpellingNumber.js"></script>
    <link href="/static/css/minified.css" rel="stylesheet" />
</head>
<body>

  <div id="printbl{{order.id}}" class="bonbody position-relative">



    {% for i in orderitems %}
    {% if forloop.counter == orderitems|length %}
    <!-- last iteration -->
    <div class="px-5 d-flex flex-column postion-relative livraison{{order.id}}holder p-3" style="height: 1123px;width: 21cm; page-break-before: always;">
      <!-- header -->
      <div class="mt-5">
        <img src="/media/logos/logo2.jpg" alt="" style="width: 40%;" class="avoirlogo invisible">

        <div class="d-flex justify-content-between mt-3">
          <div class="">

              <div>
                <strong>Date: {{ order.date|date:"d/m/Y" }}</strong>
              </div>
              <div>
                <strong>N°: {{ order.no }}</strong>
              </div>
          </div>
          <h3>
              <b>
                Avoir
              </b>
            </h3>

          <div style="width: 15em; text-align: center;margin-right: 10px; border: 3px solid; padding: 3px; box-shadow: 4px 3px black;border-radius: 12px">

            <div>{{order.client.name.upper}}</div>
            <div>{{order.client.code.upper}}</div>
            <div>ICE: {{order.client.ice}}</div>
            <div>{{order.client.city.upper}}</div>
          </div>
        </div>




      </div>

      <!-- livraison items -->
      <div class="orderitems bg-white rounded p-2 position-relative">
        <img width="1000em" class="avoirlogo invisible" src="/media/logos/dd.png" style="
          position: absolute !important;
          right: 9.3em;
          opacity: 0.1;
          top: 5em;

          ">
        <table class="table table-bordered blitems" style="font-size: 13px; font-family: serif; border-color: black;">
          <thead style="background: #c9c9c967; font-size: 10px;
        font-weight: 800;" class="text-center">
            <tr>
              <td style="">Ref</td>
              <td style="width:53%;">Designation</td>
              {% if order.avoirfacture %}
              <td>N° Facture</td>
              {% endif %}
              <td style="width: 5%;">Qté</td>
              <td style="width: 7%;">P.U</td>
              <td style="width: 5%;">Rem</td>
              <td style="width: 13%;">Mantant</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="height: 175mm;white-space: nowrap; padding:3px">
                  {% for v in i %}

                  {{v.product.ref.upper}}
                  <br>
                  {% endfor %}
              </td>
              <td style="white-space: nowrap; padding:3px">
                  {% for v in i %}

                  {{v.product.name.upper|slice:'45'}}
                  <br>
                  {% endfor %}
              </td>
              {% if order.avoirfacture %}
              <td>
                {% for v in i %}
                  {{v.source}}
                  <br>
                {% endfor %}
            </td>
            {% endif %}
              <td class="text-center">
                  {% for v in i %}

                  {{v.qty}}
                  <br>
                  {% endfor %}
              </td>
              <td class="text-center">
                  {% for v in i %}

                  {{v.price|floatformat:2}}
                  <br>
                  {% endfor %}
              </td>
              <td class="text-center">
                  {% for v in i %}

                  {{v.remise}}%
                  <br>
                  {% endfor %}
              </td>
              <td class="text-center">
                  {% for v in i %}

                  {{v.total|floatformat:2|intspace}}
                  <br>
                  {% endfor %}
              </td>

            </tr>
          </tbody>

        </table>
        <!-- footer total -->
        <table class="table table-bordered" style="border:1px solid;">
          <tr>
            <td>
              <b>Total HT: {{ht|floatformat:2}}</b>
            </td>
            <td>
              <b>TVA: {{tva|floatformat:2}}</b>
            </td>
            <td class="text-end">
              <b>Total TTC: {{order.total|floatformat:2}}</b>
            </td>
          </tr>
        </table>
        <div style="font-size:11px">
          LOT ARGANA N° B25 - AIT MELLOUL <br>
          IF: 15251205 - Patente: 49815086 - CNSS: 5921079 - ICE: 001667720000027 <br>
          Fixe: +212 528 24 35 17 - Tel: 06 66 03 72 81
        </div>
        <!-- <div class="d-flex justify-content-between">
          <small>
            page: {{forloop.counter}}/{{orderitems|length}}
          </small>
          <div class="text-center d-flex justify-content-between" style="background: #aeaeae8c;
          font-size: 13px; width:14em;">
            <div>Total</div>
            <div style="font-size: 16px; margin-right: 13px;">
              <strong>
                {{order.total|floatformat:2|intspace}}
              </strong>
            </div>
          </div>


        </div> -->

      </div>
    </div>


    {% else %}
    <!-- other pages -->
    <div class="px-5 d-flex flex-column postion-relative livraison{{order.id}}holder p-3" style="height: 1123px;width: 21cm; page-break-before: always;">
      <!-- header -->
      <div class="mt-5">
        <img src="/media/logos/logo2.jpg" alt="" style="width: 40%;" class="avoirlogo invisible">

        <div class="d-flex justify-content-between mt-3">
          <div class="">

              <div>
                <strong>Date: {{ order.date|date:"d/m/Y" }}</strong>
              </div>
              <div>
                <strong>N°: {{ order.no }}</strong>
              </div>
          </div>
          <h3>
              <b>
                Avoir
              </b>
            </h3>

          <div style="width: 15em; text-align: center;margin-right: 10px; border: 3px solid; padding: 3px; box-shadow: 4px 3px black;border-radius: 12px">

            <div>{{order.client.name.upper}}</div>
            <div>{{order.client.code.upper}}</div>
            <div>ICE: {{order.client.ice}}</div>
            <div>{{order.client.city.upper}}</div>
          </div>
        </div>




      </div>

      <!-- livraison items -->
      <div class="orderitems bg-white rounded p-2 position-relative">
        <img width="1000em" class="avoirlogo invisible" src="/media/logos/dd.png" style="
          position: absolute !important;
          right: 9.3em;
          opacity: 0.1;
          top: 5em;

          ">
        <table class="table table-bordered blitems" style="font-size: 13px; font-family: serif; border-color: black;">
          <thead style="background: #c9c9c980; font-size: 10px;
        font-weight: 800;" class="text-center">
            <tr>
              <td style="">Ref</td>
              <td style="width:53%;">Designation</td>
              {% if order.avoirfacture %}
              <td>N° Facture</td>
              {% endif %}
              <td style="width: 5%;">Qté</td>
              <td style="width: 7%;">P.U</td>
              <td style="width: 5%;">Rem</td>
              <td style="width: 13%;">Mantant</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="height: 175mm;white-space: nowrap; padding:3px">
                  {% for v in i %}

                  {{v.product.ref.upper}}
                  <br>
                  {% endfor %}
                  </td>
                <td style="white-space: nowrap; padding:3px">
                  {% for v in i %}

                  {{v.product.name.upper|slice:'45'}}
                  <br>
                  {% endfor %}
              </td>
              {% if order.avoirfacture %}
              <td>
                {% for v in i %}
                  {{v.source}}
                  <br>
                {% endfor %}
            </td>
            {% endif %}
              <td class="text-center">
                  {% for v in i %}

                  {{v.qty}}
                  <br>
                  {% endfor %}
              </td>
              <td class="text-center">
                  {% for v in i %}

                  {{v.price|floatformat:2}}
                  <br>
                  {% endfor %}
              </td>
              <td class="text-center">
                  {% for v in i %}

                  {{v.remise}}%
                  <br>
                  {% endfor %}
              </td>
              <td class="text-center">
                  {% for v in i %}

                  {{v.total|floatformat:2|intspace}}
                  <br>
                  {% endfor %}
              </td>

            </tr>
          </tbody>

        </table>
      </div>

      <!-- livraison footer -->
      <div style="float:right;">
        <small>
          page: {{forloop.counter}}/{{orderitems|length}}
        </small>
      </div>

    </div>
    {% endif %}
    {% endfor %}
</div>




<script>
  if (localStorage.getItem('showenteteavoir') === 'true'){
    $('.avoirlogo').removeClass('invisible')
  }

  function livraison(divName){
         var printContents = document.getElementById(divName).innerHTML;
         var originalContents = document.body.innerHTML;
         document.body.innerHTML = printContents;
         $('.blitems').css({'font-size': '15px','font-family':'serif'})
         $("table > tbody > tr > td").css({'padding':'5px', 'border-bottom':'0px', 'border-top':'0px'});
         //  $('body').addClass('d-flex flex-column vh-100 p-3')
         window.print();
         document.body.innerHTML = originalContents;

    }
  </script>
</body>
</html>
