
<div class="text-white rounded h3 d-flex align-items-center justify-content-between bg-darkblue">
    <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="deletetab()">x</button>
    <div>
      {{title}}
    </div>
    <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="forceupdatetab()">↻</button>
  </div>
<div class="row">
    <div class="col-3">
        <div class="bg-white rounded shadow p-2">
            <form action="createcategory" method="post" enctype="multipart/form-data" id="createcategory">
                {% csrf_token %}
                <input name="categoryname" type="text" class="form-control mb-2" placeholder="Categorie" required>
                <input name="categorycode" type="text" class="form-control mb-2" placeholder="Code" required>
                <select name="categoryaffichage" class="form-control mb-2" required>
                    <option value="full">full</option>
                    <option value="table">table</option>
                    <option value="double">double</option>
                </select>
                <strong>Image</strong>
                <input name="categoryimage" type="file" class="form-control" required>
                
                <!-- Representants caché
                <select class="select" name="commercialexcluded" multiple="multiple" style="width:100%;">
                    {% for i in commercials %}
                    <option value="{{i.id}}">
                        {{i.name}}
                    </option>
                    {% endfor %}
                </select>
                <div class="form-check position-relative mt-2">
                    <input class="form-check-input" type="checkbox" value="True" id="flexCheckIndeterminate" name="hideclient">
                    <label class="form-check-label" for="flexCheckIndeterminate">
                      Masquer les clients
                    </label>
                </div> -->
                <button class="btn btn-success mt-2 createcategorybtn">Ajouter</button>
            </form>
        </div>
    </div>
    <div class="col-9">
        <input type="text" class="form-control" placeholder="Chercher" id="searchbox">
        <div class="bg-white border p-2">
            <div class="row">
                {% for i in categories %}
                <div class="col-4 mb-2 searchcards">
                    <p hidden>
                        {{i.name}}
                    </p>
                    <div class="bg-white rounded shadow p-2">
                        <form action="{% url 'products:updatecategory' %}" method="post" enctype="multipart/form-data" id="updateform{{i.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{i.id}}">
                            {{i.id}}
                            {% if i.image %}
                            <img class="text-center w-100 mb-2" src="{{i.image.url}}" alt="">
                            {% endif %}
                            <input type="file" name="updatecategoryimage" class="form-control imageinp">
                            <input type="text" name="updatecategoryname" class="form-control nameinp mb-2" value="{{i.name}}" placeholder="Nom de categorie">
                            <input type="text" name="updatecategorycode" class="form-control codeinp" value="{{i.code}}" placeholder="Code">
                            <select name="updatecategoryaffichage" class="form-control mb-2" required>
                                <option value="full" {% if i.affichage == "full" %} selected {% endif %}>full</option>
                                <option value="table" {% if i.affichage == "table" %} selected {% endif %}>table</option>
                                <option value="double" {% if i.affichage == "double" %} selected {% endif %}>double</option>
                            </select>
                            <!-- Representants caché:
                            <select class="select" name="commercialexcluded" multiple="multiple" style="width:100%;">
                                {% for c in commercials %}
                                <option value="{{c.id}}" {% if c in i.excludedrep.all %}selected{% endif %}>
                                    {{c.name}}
                                </option>
                                {% endfor %}
                            </select> -->
                            <!-- <div class="form-check position-relative mt-2">
                                <input class="form-check-input" type="checkbox" value="True" id="flexCheckIndeterminate" name="hideclient" {% if i.masqueclients %} checked {% endif %}>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                Masquer les clients
                                </label>
                            </div> -->
                            <button class="btn btn-sm btn-success w-100 updatecategorybtn" id="{{i.id}}">Mise à jour</button>
                        </form>
                    </div>
                </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

 <script>
    $(function(){
     $('.select').select2()
    })

    $('.updatecategorybtn').on('click', function(event){
        event.preventDefault()
        id=$(event.target).attr('id')
        form=$(event.target).parent()
        name=$($(event.target).parent().find('input')[3]).val()
        code=$($(event.target).parent().find('input')[4]).val()
        console.log(name, code)
        if (name=="" || code==""){
            $($(event.target).parent()[0]).css('border', '1px solid red')
            return
        }
        var formData = new FormData($(event.target).parent()[0]);
        $.ajax({
            type: 'POST',
            url: '{% url "products:updatecategory" %}',  // Replace with your Django URL
            data: formData,
            processData: false,
            contentType: false,
            success:((data)=>{
                //$(`#ctg`).html(data.html)
                updatetab('ctg', '/products/categoriespage')
                
            })
        })
        
    
    })
    $('.createcategorybtn').on('click', function(event){
        event.preventDefault()
        console.log('sending')
        if ($('[name="categoryname"]').val()==""||$('[name="categoryimage"]').val()==""){
            $('#createcategory').css('border', '1px solid red')
            return
        }
        var formData = new FormData($('#createcategory')[0]);

        $.ajax({
            type: 'POST',
            url: '{% url "products:createcategory" %}',  // Replace with your Django URL
            data: formData,
            processData: false,
            contentType: false,
            success:((data)=>{
                //$(`#ctg`).html(data.html)
                updatetab('ctg', '/products/categoriespage')
            })
        })
    })
 </script>