{% load global_tags %}
<div class="d-flex mb-5" style="position: sticky;top: 0; background: white;z-index: 999;">
  <div>
     <button class="btn btn-success" onclick="Printfacture('printfc{{facture.id}}')">
    Telecharger
  </button>
  <button class="btn btn-sm btn-success" onclick="entete()">
    entette
  </button>

  <button class="btn btn-danger" onclick="createtab('addmodifierfacture{{facture.id}}', 'Modifier facture {{facture.facture_no}}', '/products/modifierfacture/{{facture.id}}')">
    Modifier
  </button>
  <button class="btn btn-success" onclick="comptable(event, '{{facture.id}}')">
  {% if facture.isaccount %}
    Normal
  {% else %}
    Comptabilité
  {% endif %}
  </button>
  <input placeholder="Note" class="notefacture{{facture.id}}input" value="{%if facture.note%}{{facture.note}}{%endif%}"><button class="btn btn-info" onclick="updatenotefacture('{{facture.id}}')">+</button>
  </div>
  <select class="ms-2 updaterepfacture{{facture.id}}">
    <option value="{{facture.salseman.id}}">{{facture.salseman.name}}</option>
    {% for i in reps %}
    <option value="{{i.id}}">{{i.name}}</option>
    {% endfor %}
  </select>

  {% if not facture.printed %}
  <button class="ms-2 btn btn-success" onclick="printed(event, '{{facture.id}}')">
    Reçu par client
  </button>
  {% endif %}
</div>

<div id="printfc{{facture.id}}" style="position:relative;">
  {% for i in orderitems %}
  {% if forloop.counter == orderitems|length %}
  <!-- last iteration -->
  <div class="postion-relative p-2 facture{{facture.id}}holder p-3" style="min-height: 29.7cm;width: 21cm;">


    <!-- facture header -->
    <div class="">
      <img src="/media/logos/logo2.jpg" alt="" style="width: 40%;" class="factureheader">
        <div class="d-flex justify-content-between mt-5">
          <div>
            <h5 style="
              border: 3px solid;
              padding: 8px;
              box-shadow: 4px 3px black;
              border-radius: 12px;
              width: 12em;
              "
              >Facture N°: <strong>{{facture.facture_no}}</strong></h5><br>
              <h5 style="
              border: 1px solid;
              border-radius: 10px;
              padding: 8px;
          ">Date: <strong>{{facture.date|date:"d/m/Y"}}</strong></h5>
          </div>
          <div style="width: 20em; text-align: center;margin-right: 10px; border: 3px solid; padding: 3px; box-shadow: 4px 3px black;border-radius: 12px">
            Client <strong>{{facture.client.name.upper}}</strong>
            <p>
              {{facture.client.code}}
            </p>
            {% if facture.client.ice %}
            <p>

              ICE: {{facture.client.ice}}
            </p>
            {% endif %}
            <p>

            Ville: {{facture.client.city}}
            </p>
          </div>
        </div>


    </div>

    <!-- facture items -->
    <div class="orderitems mt-3 bg-white rounded p-2 position-relative">
      <img width="1000em" class="bgfacture" src="/media/logos/dd.png" style="
    position: absolute !important;
    right: 9.3em;
    opacity: 0.18;
    top: 5em;
    ">
      <table class="table table-bordered fcitems" style="font-size: 13px; border-color: black;">
        <thead style="background: #c9c9c9; font-size: 10px;
        font-weight: 800;" class="text-center">
          <tr>
            <td style="width: 19%;">Ref</td>
            <td style="width: 35%;">Designation</td>
            <td style="width: 9%;">Qté</td>
            <td style="width: 14%;">P.U</td>
            <td style="width: 5%;">Rem</td>
            <td style="width: 16%">Mantant</td>
          </tr>
        </thead>
        <tbody>
                <tr>
                    <td style="height: 160mm;">
                      {% for v in i %}
                      {{v.ref.upper}}
                      <br>
                      {% endfor %}
                    </td>
                  <td style="white-space: nowrap;">
                      {% for v in i %}
                        {{v.name.upper|slice:"50"}}
                        <br>
                      {% endfor %}
                  </td>
                  <td class="text-center">
                    {% for v in i %}
                    {{v.qty}}
                    <br>
                    {% endfor %}
                  </td>
                  <td class="text-center">
                    {% for v in i %}
                    {{v.price|floatformat:2|intspace}}
                    <br>
                    {% endfor %}
                  </td>
                  <td class="text-center">
                    {% for v in i %}
                    {{v.remise}}%
                    <br>
                    {% endfor %}
                  </td>
                  <td class="text-center">
                    {% for v in i %}
                    {{v.total|floatformat:2|intspace}}
                    <br>
                    {% endfor %}
                  </td>

                </tr>
        </tbody>
        <tfoot class="text-center">

        </tfoot>
      </table>

    </div>

    <div class="text-center">
      <table class="table table-bordered" style="margin-bottom: 35px;">
        <tr style="background: #c9c9c9; font-size: 10px;
        font-weight: 800;border: 1px solid">
          <td colspan="5">
            <strong style="font-size: 13px" >
              Total H.T
            </strong>
          </td>
          <td>
            <strong class="htfc{{facture.id}}" style="font-size: 13px">
              {{ht|floatformat:2|intspace}}
            </strong>
          </td>
          <td colspan="5">
            <strong style="font-size: 13px">
              TVA
            </strong>
          </td>
          <td>
            <strong class="tvafc{{facture.id}}" style="font-size: 13px">
              {{tva|floatformat:2|intspace}}
            </strong>
          </td>
          <td colspan="5">
            <strong style="font-size: 13px">
              Total TTC
            </strong>
          </td>
          <td>
            <strong class="ttcgc{{facture.id}}" style="font-size: 15px">
              {{ttc|floatformat:2|intspace}}
            </strong>
          </td>
        </tr>
      </table>
      <div style="font-size: 15px; text-align: start;">
          Arreter la presente facture à la somme de: <br>
        <span class="totalfactureprint" style="font-size:10px ;"></span>
      </div>
      <div style="font-size:11px">
        LOT ARGANA N° B25 - AIT MELLOUL <br>
        IF: 15251205 - Patente: 49815086 - CNSS: 5921079 - ICE: 001667720000027 <br>
        Fixe: +212 528 24 35 17 - Tel: 06 66 03 72 81
      </div>
    </div>
  </div>
  {% else %}
  <div class="postion-relative p-2 facture{{facture.id}}holder p-3" style="min-height: 29.7cm;width: 21cm;">


    <!-- facture header -->
    <div class="">
      <img src="/media/logos/logo2.jpg" alt="" style="width: 40%;" class="factureheader">
        <div class="d-flex justify-content-between mt-5">
          <div>
            <h5 style="
              border: 3px solid;
              padding: 8px;
              box-shadow: 4px 3px black;
              border-radius: 12px;
              width: 12em;
              "
              >Facture N°: <strong>{{facture.facture_no}}</strong></h5><br>
              <h5 style="
              border: 1px solid;
              border-radius: 10px;
              padding: 8px;
          ">Date: <strong>{{facture.date|date:"d/m/Y"}}</strong></h5>
          </div>
          <div style="width: 20em; text-align: center;margin-right: 10px; border: 3px solid; padding: 3px; box-shadow: 4px 3px black;border-radius: 12px">
            Client <strong>{{facture.client.name.upper}}</strong>
            <p>
              {{facture.client.code}}
            </p>
            <p>
              ICE: {{facture.client.ice}} <br>Ville: {{facture.client.city}}
            </p>
          </div>
        </div>


    </div>

    <!-- facture items -->
    <div class="orderitems mt-3 bg-white rounded p-2 position-relative">
      <img width="1000em" class="bgfacture" src="/media/logos/dd.png" style="
    position: absolute !important;
    right: 9.3em;
    opacity: 0.18;
    top: 2em;
    ">
      <table class="table table-bordered fcitems" style="font-size: 13px; border-color: black;">
        <thead style="background: #c9c9c9; font-size: 10px;
        font-weight: 800;" class="text-center">
          <tr>
            <td style="width: 19%;">Ref</td>
            <td style="width: 35%;">Designation</td>
            <td style="width: 9%;">Qté</td>
            <td style="width: 14%;">P.U</td>
            <td style="width: 5%;">Rem</td>
            <td style="width: 16%">Mantant</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="height: 180mm;">
              {% for v in i %}
              {{v.ref.upper}}
              <br>
              {% endfor %}
            </td>
            <td style="white-space: nowrap;">
              {% for v in i %}
                {{v.name.upper|slice:"50"}}
                <br>
              {% endfor %}
          </td>
          <td class="text-center">
            {% for v in i %}
            {{v.qty}}
            <br>
            {% endfor %}
          </td>
          <td class="text-center">
            {% for v in i %}
            {{v.price|floatformat:2|intspace}}
            <br>
            {% endfor %}
          </td>
          <td class="text-center">
            {% for v in i %}
            {{v.remise}}%
            <br>
            {% endfor %}
          </td>
          <td class="text-center">
            {% for v in i %}
            {{v.total|floatformat:2|intspace}}
            <br>
            {% endfor %}
          </td>

        </tr>
        </tbody>
      </table>
    </div>

    <!-- facture footer -->

    <div class="text-center" style="font-size:11px">

      LOT ARGANA N° B25 - AIT MELLOUL <br>
      IF: 15251205 - Patente: 49815086 - CNSS: 5921079 - ICE: 001667720000027 <br>
      Fixe: +212 528 24 35 17 - Tel: 06 66 03 72 81
    </div>

  </div>
  {% endif %}
  {% endfor %}

</div>


<script>
  $('.updaterepfacture{{facture.id}}').on('change', function(){
    console.log(">>>>>>>>up")
    rep=$(this).val()
    $.get('/products/updatefacturerep', {
      'rep':rep,
      'factureid':'{{facture.id}}',
    }, (data)=>{
      updatetab('facture{{facture.id}}', '/products/facturedetails/{{facture.id}}')

    })
  })
  function updatenotefacture(id){
    $.get('/products/updatefacturenote', {
      'factureid':'{{facture.id}}',
      'note':$('.notefacture{{facture.id}}input').val()
    },(data)=>{
      deletetab('facture{{facture.id}}')
      createtab('addlistfactures', 'Factures', '/products/listfactures')
    }
  )}
  // facture is comptablisé
  function comptable(event, factureid){
    $.get('/products/comptable', {
      'factureid':factureid
    }, (data)=>{
      if($(event.target).text().includes('Normal')){
        $(event.target).text('Comptabilité')
      }else{
        $(event.target).text('Normal')
      }
    })
  }
  function entete(){
    if ($('.factureheader').hasClass('show')) {
      $('.factureheader').removeClass('show')
      $('.factureheader').css('visibility', 'hidden')
      $('.bgfacture').removeClass('show')
      $('.bgfacture').css('visibility', 'hidden')
      localStorage.setItem('showentete', false)
    }
    else{
      $('.factureheader').addClass('show')
      $('.factureheader').css('visibility', 'visible')
      $('.bgfacture').addClass('show')
      $('.bgfacture').css('visibility', 'visible')
      localStorage.setItem('showentete', true)
    }

  }
  showentete=localStorage.getItem('showentete')||true
  if (showentete == 'true') {
    $('.factureheader').addClass('show')
    $('.factureheader').css('visibility', 'visible')
    $('.bgfacture').addClass('show')
    $('.bgfacture').css('visibility', 'visible')
  }
  else{
    $('.factureheader').removeClass('show')
    $('.factureheader').css('visibility', 'hidden')
    $('.bgfacture').removeClass('show')
    $('.bgfacture').css('visibility', 'hidden')
  }
  function separateThousands(number) {
    console.log(number)
  // Split the number into integer and decimal parts
    const parts = number.toString().split('.');
    const integerPart =  parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ' ');

    if (parts[1]) {
      decimalpart=Number(parts[1]).toFixed(2)
      return integerPart + '.' + parts[1];
    } else {
      return Number(integerPart).toFixed(2);
    }
}
  /*$('.ttcgc{{facture.id}}').text(separateThousands('{{facture.total|floatformat:2|intspace}}'))
  $('.tvafc{{facture.id}}').text(separateThousands({{tva|floatformat:2|intspace}}))
  $('.htfc{{facture.id}}').text(separateThousands({{ht|floatformat:2|intspace}}))*/
   $('.totalfactureprint').text($.spellingNumber('{{facture.total|floatformat:2}}', {
    lang:'fr',
    wholesUnit:"Dirhams",
    fractionUnit:"Centimes",
    digitsLengthW2F: 2,
    decimalSeperator:"et"

  }).toUpperCase())
  function Printfacture(divName){
    //$('.facture{{facture.id}}holder').addClass('d-flex flex-column')
         var printContents = document.getElementById(divName).innerHTML;
         var originalContents = document.body.innerHTML;
         document.body.innerHTML = printContents;
        //  $('.bgfacture').css({
        //   "position": "absolute !important",
        //   "right": "26em",
        //   "opacity": "0.18",
        //   "top": "23em",
        //  })
        // $('body').addClass('d-flex flex-column vh-100')
         $('.fcitems').css({'font-size': '14px','font-family':'serif'})
         $("table > tbody > tr > td").css({'padding':'5px', 'border-bottom':'0px', 'border-top':'0px'});
         //$("table > thead").css('background','#c9c9c9');
         window.print();
         document.body.innerHTML = originalContents;
        //  $('body').removeClass('d-flex flex-column vh-100 p-3')
    }
  </script>
