{% load global_tags %}
{% for order in bons %}
  <tr class="ord {% if order.ispaid %}text-danger{% endif %} {% if loadmore %}fc-row{% endif %}" orderid="{{order.code}}" ondblclick="createtab('facture{{order.id}}', 'Facture {{order.facture_no}}', '/products/facturedetails/{{order.id}}')"
    style="{% if order.bon %} color: blue; {% endif %} {% if order.isaccount %}background:yellowgreen;{% endif %}"
    term={{term}} year={{year}} startdate={{startdate}} enddate={{enddate}} comptable={{comptable}}
  >
    <td>{{ order.facture_no }}</td>
    <td>{{ order.date|date:'d/m/Y' }}</td>
    <td>{{ order.total|floatformat:2|intspace}}</td>
    <td>{{ order.tva|floatformat:2|intspace}}</td>
    <td>{{ order.client.name }}</td>
    <td>{{ order.client.code }}</td>
    <td>{{ order.client.region }}</td>
    <td>{{ order.client.city }}</td>
    <td>{{ order.client.soldfacture|floatformat:2|intspace }}</td>
    <td>{{ order.salseman }}</td>
    {% if order.ispaid %}
    <td class="d-flex">
      R0
      <div style="width:15px; height:15px; border-radius:50%; background:green;" ></div>
    </td>
    {% else %}

    <td class="d-flex">
      N1
      <div style="width:15px; height:15px; border-radius:50%; background:orange;" ></div>
    </td>
    {% endif %}
    <td>
      {{order.note}}
    </td>
    <td style="white-space:nowrap;">
      {{order.getreglement|slice:'16' }}
    </td>
    {%if not facturesection%}
      <td>{{ order.bon.bon_no }}</td>
    {% endif %}
      <td class="d-flex">
        {% if order.isaccount %}
        <i class="bi bi-check h3"></i>c
        {% endif %}
        <button title="Imprimer" class="btn btn-sm bi bi-download" onclick="printfacture('{{order.id}}')"></button>
      </td>
  </tr>
{% endfor %}
