<div class="p-2">
    <div class="text-white rounded h3 d-flex align-items-center justify-content-between bg-darkblue">
        <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="deletetab('journalachat')">x</button>
        <div>
          {{title}}
        </div>
        <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="forceupdatetab('journalachat', '/products/journalachat')">↻</button>
      </div>
      <div class="d-flex">
          <div>
              <input type="date" name="jachdatefrom" class="form-control notempty jachdatefrom" value="{{today|date:'Y-m-d'}}">
          </div>
          <div>
              <input type="date" name="jachdateto" class="form-control notempty jachdateto" value="{{today|date:'Y-m-d'}}">
          </div>
          <button class="btn btn-success" onclick="getdatefilterjach()">Filtrer</button>
      </div>
      <div class="d-flex justify-content-between">
        <input style="width:20em; height: 25px;" type="text" name="" id="" placeholder="Recherche" class="searchinpulistjournalachar">
        <select onchange="getjachdatayear(event)" class="jachyear populateyears" style="width:9em; border-radius: 10em;">
            <!-- <option value="0">----</option>
            <option value="2024">2024</option> -->

        </select>
      </div>


        <div class="d-flex flex-column align-items-center justify-content-center loader position-fixed d-none"
        style="height: 100%;background:#171717bc ; width: 100%; z-index: 9999;"
        >
        <div class="spinner-border text-white" role="status">
        </div>
        </div>
        <div style="height: 70vh; overflow: scroll;" class="listjournalachatholder">
            <table style="font-size: 12px;" class="table table-bordered listjournalachat table-hover">
                <thead style="position: sticky; top: 0; background: var(--darkblue); color: white">
                    <tr>
                        <td onclick="datesorttable(event)">Date</td>
                        <td onclick="sorttable(event)">REf</td>
                        <td onclick="sorttable(event)">Product</td>
                        <td onclick="sorttable(event)">Prix achat</td>
                        <td onclick="sorttable(event)">Fournisseur</td>
                        <td onclick="sorttable(event)">Devise</td>
                        <td onclick="sorttable(event)">Quantity</td>
                        <td onclick="sorttable(event)">Total</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr class="journalacha-row">
                        <td>{{i.date|date:"d/m/Y"}}</td>
                        <td>{{i.product.ref.upper}}</td>
                        <td>{{i.product.name}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.supplier.name}}</td>
                        <td>{{i.devise}}</td>
                        <td class="qtyjournalachat">{{i.quantity}}</td>
                        <td class="totaljournalachat">{{i.total|floatformat:2}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot style="position: sticky; bottom: 0; background: white;">
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="totalqtyjach" style="background: yellowgreen;">{{totalqtyjach}}</td>
                        <td class="totaljach" style="background: yellowgreen;">{{totaljach}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>

</div>
<script>
  populateyears()
    $('.searchinpulistjournalachar').on("change", function() {
        var filterValue = $(this).val().toLowerCase();
        let year=$('.jachyear').val()
        if (filterValue!=""){
          $('.listjournalachat tbody').addClass('blurred')
          $.get('/products/searchforjach', {'term':filterValue.trim(), 'year':year}, (data)=>{
            $('.listjournalachat tbody').html(data.trs)
            $('.totaljach').text(data.total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ' '))
            $('.totalqtyjach').text(data.totalqty)
            $('.listjournalachat tbody').removeClass('blurred')
          })
        }
    });
    function getdatefilterjach(){
        currentPagejournalventefc=1
        loadingjournalventefc=false
        $('.listjournalachatholder').on('scroll', handleScrolljach)
        datefrom=$('.jachdatefrom').val()
        dateto=$('.jachdateto').val()
        $.get('/products/filterjachdate', {'datefrom':datefrom, 'dateto':dateto}, (data)=>{
            console.log(data)
            $('.listjournalachat tbody').html(data.trs)
            $('.totaljach').text(data.total?data.total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ' '):0)
            $('.totalqtyjach').text(data.totalqty?data.totalqty:0)
        })
    }

    function getjachdatayear(event){
        currentPagejournalventefc=1
        loadingjournalventefc=false
        $('.journalvfctableholder').on('scroll', handleScrolljach);
        year=$(event.target).val()
        if (year != '0'){
            $.get('/products/yeardatajach', {'year':year}, (data)=>{
                console.log(data)
                $('.listjournalachat tbody').html(data.trs)
                $('.totaljach').text(data.total?data.total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ' '):0)
                $('.totalqtyjach').text(data.totalqty?data.totalqty:0)
            })
        }
    }

    function loadMorejach ()  {
    loadingjournalacha = true;
    $.get(`/products/loadjournalachat/?page=${currentPagejournalacha}`, (data)=>{

      const tbody = $('.listjournalachat tbody');
      tbody.append(data.trs);

      console.log('products loaded')
      loadingjournalacha = false;


          if (!data.has_more) {

              // Remove the scroll event listener when there are no more records
              $('.listjournalachatholder').off('scroll', handleScrolljach);
          }
        })


        // Append the new records to your table or update the DOM as needed
    };

    function handleScrolljach () {
      console.log('scroll')
      const container = $('.listjournalachatholder')[0]; // Get the native DOM element

      const lastRow = document.querySelector('.journalacha-row:last-child');
      const lastRowOffset = lastRow.offsetTop + lastRow.clientHeight;

      const containerBottom = container.scrollTop + container.clientHeight;
      console.log(containerBottom+900, lastRowOffset, containerBottom+900 >= lastRowOffset)
      if (containerBottom+900 >= lastRowOffset && !loadingjournalacha) {
          currentPagejournalacha++;
          loadMorejach();
      }
    };

    // Attach the scroll event listener
    $('.listjournalachatholder').on('scroll', handleScrolljach)
    total=0
    totalqty=0
    //

</script>
