{% load global_tags %}
<style>
  .blink {
  animation: blinker .6s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}
</style>
<!-- export -->
<div class="exportblholder position-absolute rounded shadow bg-white d-flex p-2 justify-content-between" style="z-index: 9999; top: -10vh; left: 13%; width: 80vw; height: 10vh; transition: top .7s ease;" >
  <div class="d-flex">
    <div class="me-2">
      Du <br>
      <input type="date" class="exportdatefrom" value="{{today|date:'Y-m-d'}}">
    </div>
    <div>
      Au <br>
      <input type="date" class="exportdateto" value="{{today|date:'Y-m-d'}}">
    </div>
  </div>

  <div class="ms-3">
    <label for="rep">rep</label> <br>
    <select class="repexport" style="width: 12em;">
      <option value="">---</option>
      {% for i in reps %}
      <option value="{{i.id}}">{{i.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="ms-3">
    <label>Region</label> <br>
    <input type="text" class="regionblexport">
  </div>

  <button class="btn btn-sm btn-success" onclick="exportbl(event)">
    Export
  </button>
  <button class="btn btn-danger" onclick="$('.exportblholder').css('top', '-10vh')"></button>

</div>

<div class="bg-white shadow rounded">
  <div class="text-white rounded h3 d-flex align-items-center justify-content-between bg-darkblue">
    <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="deletetab('addlistbonlivraison')">x</button>
    <div>
      {{title}}
    </div>
    <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="forceupdatetab('addlistbonlivraison', '/products/listbonlivraison?facture={% if facturesection %}1{% endif %}')">↻</button>
  </div>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="me-2">
        <!-- <input type="date" name="" id="" class="startdatefilterbl" value="{{today|date:'Y-m-d'}}"> -->
         <input type="date" name="" id="" class="startdatefilterbl">
      </div>
      <div>
        <input type="date" name="" id="" class="enddatefilterbl">
      </div>
      <div>
        <button class="btn btn-sm bg-dark text-white filterbldate">Filtrer</button>
      </div>

    </div>
    {% if not facturesection %}
    <div class="d-flex">
      <!-- <div style="color: white; background:red; cursor: pointer; padding: 7px; border-radius: 12px;" title="BON 3 MOIS" onclick="getnotpaid(event)">{{depasser}}
      </div> -->
      <div>
        <button style="
        border: 1px solid;
        margin-left: 68px;
        border-radius: 12px;
        background: #97c89742;" class="btn {% if boncommand > 0%}blink{% endif %}" onclick="createtab('addCommandestab', 'BON COMM', '/products/listboncommnd')">
          Bon commande: <span style="color: red;">{{boncommand}} </span>
        </button>
      </div>
    </div>

    <!--<div>
       <input style="width: 20em;
    background: #c3e6ff;
    border-radius: 11px;
    margin-bottom: 9px;" placeholder="TRODO" onchange="window.open(`https://www.trodo.fr/catalogsearch/result?q=${$(this).val()}&searchby=name`, '_blank')">
    </div> -->
    {% endif %}
    <div>
      <select name="yearsbl" onchange="yeardatabl()" class="populateyears">

      </select>
    </div>
    <div class="d-flex flex-column">
      <button class="btn btn-success" style="border-radius: 10px; margin: 0 9px 9px 0;" onclick="createtab('addbonlivraison', '+livraison', '/products/bonlivraison')">
        +Ajouter
      </button>
      <button class="btn btn-danger" style="border-radius: 10px; margin: 0 9px 9px 0;" onclick="getcontrenonpaid(event)">
        Contre non reglé
      </button>
    </div>
  </div>
  <div class="filters mt-2 d-flex justify-content-between">
    <input style="width: 20em;
    background: #80808038;
    border-radius: 11px;
    margin-bottom: 9px;
" type="text" name="" id="" placeholder="Recherche" class="searchinputlistbl">

  <div>
    <input style="width: 60em;
    background: #80808038;
    border-radius: 11px;
    margin-bottom: 9px;
    " type="text" placeholder="Recherche Bons" class="searchitemsforlistbl"
    onfocus="$('.itemssearchresultslistbl').removeClass('d-none')"
    onchange="getitemsforlistbl(event)">
    <div style="position: absolute;
    height: 60vh;
    width: 70vw;
    overflow-y: scroll;
    z-index: 99;
    background: white;
    padding: 10px;
    box-shadow: -6px 5px 4px 4px #24232391" class="itemssearchresultslistbl d-none">
      <div class="sticky-top bg-white">
        <button class="w-100 btn btn-danger" onclick="$('.itemssearchresultslistbl').addClass('d-none')">X</button>
        <div class="suggestions__group-title brands d-flex" >

        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr class="text-center bg-darkblue text-white">
            <td>IMAGE</td>
            <td>REF.</td>
            <td>ARTICLE</td>
            <td>STOCK</td>
            <td>PR. BRUT</td>
            <td>REMISE</td>
            <td>PR. NET</td>
            <td>DIAMETRE</td>
          </tr>
        </thead>
        <tbody class="itemsforlistblresult">

        </tbody>
      </table>
    </div>
  </div>

  {% if not facturesection %}
  <button class="btn bi bi-download text-white" onclick="$('.exportblholder').css('top', '10vh')" style="width: 5.7em;
  background: #df691a;
  border-radius: 11px;
  margin: 0 9px 9px 0;"></button>

  <button class="btn bi bi-list border btn-dark" title="Orta tffo4" onclick="getbonswhite(event)" style="
  border-radius: 11px;"></button>
  {% endif %}
  </div>
  <div style="height: 70vh; overflow: scroll;" class="listblholder">
    <table class="table table-bordered table-hover table-striped listbltable" style="font-size: 12px;" id="addbonlivraisonle">
      <thead style="position: sticky; top: 0;">
        <tr style="background: #676767; color: white;">
          <td style="width: 8%;" onclick="sorttable(event)">N° bon</td>
          <td style="width: 8%;" class="">
            <div class="d-flex justify-content-between align-items-center">
              <!-- <button class="btn btn-sm" style="font-size: 10px; background: #f06623; color: white;" onclick="sortupbl(event)">↑</button>  -->
              <div>Date</div>
              <!-- <button class="btn btn-sm" style="font-size: 10px; background: #f06623; color: white;" onclick="sortdownbl(event)">↓</button>  -->
            </div>
          </td>
          <td style="width: 12%;" onclick="sorttable(event)">Client</td>
          <td style="width: 5%;">Code client</td>
          <td style="width: 5%;" onclick="intsorttable(event)">Total</td>
          <td style="width: 5%;" onclick="sorttable(event)">Region</td>
          <td style="width: 5%;" onclick="sorttable(event)">Ville</td>
          <td style="width: 5%;">Solde bl cl.</td>
          <td style="width: 5%;" onclick="sorttable(event)">Repr</td>
          <td style="width: 4%;">Reglé</td>
          <td style="width: 5%;">Facturé</td>
          <td style="width: 5%;" onclick="sorttable(event)">Cmnd</td>
          <td style="width: 5%;" onclick="sorttable(event)">Transport</td>
          <td style="width: 5%;" onclick="sorttable(event)">Notes</td>
          <td style="width: 2%;"></td>
        </tr>
      </thead>
      <tbody class="listblbody">
        {% for order in bons %}
          <tr class="ord bl-row {% if order.ispaid %} text-danger{% endif %}" orderid="{{order.code}}" ondblclick="createtab('bonl{{order.id}}', 'Bon livraison {{order.bon_no}}', '/products/bonlivraisondetails/{{order.id}}')" style="background:{% if order.isdelivered %}  lightgreen;{% endif %} {% if i.isfacture%} color:blue;{%endif%}" >
            <td >{{ order.bon_no }}</td>
            <td >{{ order.date|date:'d/m/Y' }}</td>
            <td >{{ order.client.name }}</td>
            <td >{{ order.client.code }}</td>
            <td style="color: blue;">{{ order.total|floatformat:'2'|intspace}}</td>
            <td >{{ order.client.region }}</td>
            <td >{{ order.client.city }}</td>
            <td >{{ order.client.soldbl|floatformat:2|intspace }}</td>
            <td >{{ order.salseman }}</td>
            <td class="d-flex justify-content-between">
              {% if order.ispaid %}
              <div>
                R0
              </div>
              <div style="width:15px; height:15px; border-radius:50%; background:green;" ></div>


              {% else %}

                <div>
                  N1
                </div>
                <div style="width:15px; height:15px; border-radius:50%; background:orange;" ></div>

              {% endif %}
            </td>
            {% if order.isfacture %}
            <td class="text-danger">
              OUI
            </td>
            {% else %}
            <td>
              Non
            </td>
            {% endif %}
            <td>
              {{order.commande.order_no}}
            </td>
            <td>
              {{order.modlvrsn}}
            </td>
            <td>
              {% if order.note %} {{order.note}} {% endif %}
            </td>
            <td class="d-flex">
              <button class="btn btn-sm btn-info" onclick="makedelivered('{{order.id}}', event)"></button>
              <button class="btn btn-sm bi bi-download" onclick="printlivraison('{{order.id}}')"></button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <thead style="position: sticky; bottom: 0; background: white;">
        {% if not facturesection %}
        <tr>
          <td style="width: 8%;"></td>
          <td style="width: 8%;"></td>
          <td style="width: 12%;"></td>
          <td style="width: 5%;"></td>
          <td style="width: 5%; background: yellowgreen;" class="totalbons" onclick="$('.hidebltotal').toggleClass('fade')">
            <div class="hidebltotal fade">{{total|floatformat:'2'|intspace}}</div>
          </td>
          <td style="width: 5%;"></td>
          <td style="width: 5%;"></td>
          <td style="width: 5%;"></td>
          <td style="width: 5%;"></td>
          <td style="width: 4%;"></td>
          <td style="width: 4%;"></td>
          <td style="width: 5%;"></td>
          <td style="width: 5%;"></td>
          <td style="width: 5%;"></td>
          <td></td>
        </tr>
        {% endif %}
      </thead>

      <!-- <tfoot>
        <tr>
          <td>N° bon</td>
          <td>Date</td>
          <td>Client</td>
          <td>Code client</td>
          <td>Total</td>
          <td>Region</td>
          <td>Ville</td>
          <td>Solde cl.</td>
          <td>Repr</td>
          <td>Reglé</td>
          <td>Facturé</td>
          <td>Transport</td>
        </tr>
      </tfoot> -->
    </table>
    <button type="button" name="button" onclick="handleScrolllistbl()" class="btn">..</button>
  </div>

</div>




<script>
  function loadmore(){}
  function getbonswhite(event){
    $('.listblbody').addClass('blurred')
    $.get('/products/getbonswhite', (data)=>{
      $('.listblbody').html(data.html)
      $('.listblbody').removeClass('blurred')
    })
  }
  $(document).ready(function () {
    // popukate years starting from 2024
    populateyears()
  })
  function filtersearch(event){
    var $el = $('.productsbrand' + $(event.target).attr('id')).fadeIn(450);
    $('.itemsforlistblresult > tr').not($el).hide();
    //$btns.removeClass('active');
    //$(this).addClass('active');
  }
  function getitemsforlistbl(event){
    let term=$('.searchitemsforlistbl').val()
    if (term.length>=2){
      $('.itemsforlistblresult').html('<tr><td>searching....</td></tr>')
      $.get('/products/getitemsforlistbl', {'term':term}, (data)=>{
        console.log(data)
        $('.brands').html('')
        $('.categoriesfilter').html('')
        for (i of data.brands){
          $('.brands').append(`
            <img class="tag-badge tag-badge--hot" id='${i.id}' onclick="filtersearch(event)" src='${i.image}'>
          `)
        }
        for (i of data.categories){
          $('.categoriesfilter').append(`
            <div class="tag-badge tag-badge--hot" id='cat${i.id}' onclick="filtercategories(event)" style="font-size:15px;">${i.name}</div>
          `)
        }
        $('.itemsforlistblresult').html(data.trs)
      })
    }else{
      $('.itemsforlistblresult').html('<tr><td>....</td></tr>')
    }


  }
  function makedelivered(orderid, event){
    $.get('/products/makebondelivered', {'id': orderid}, (data)=>{
      $(event.target).parent().parent().css('background','lightgreen')
    })
  }
  // always append years to $('select[name="yearsbl"]') starting from current, if it's 2024 options will have 2023 and 2024, if it's 2025 options will have 2023, 2024 and 2025, and so on
  function exportbl(event){
    let startdate=$('.exportdatefrom').val()
    let enddate=$('.exportdateto').val()
    let rep=$('.repexport').val()
    let region=$('.regionblexport').val()
    if (startdate!='' || enddate!=''){
      let url = `/products/exportbl?rep=${rep}&startdate=${startdate}&enddate=${enddate}&region=${region}`;
      var iframe = $('<iframe>', {
        id: 'download-frame',
        src: url,
        style: 'display: none;',
      }).appendTo('body');

      // Remove the iframe after download
      iframe.on('load', function () {
          iframe.remove();
      });
    }
    else{
      alertify.error('Date')
    }
    // Create a hidden iframe to trigger the file download

  }

  // date=new Date()
  // year=date.getFullYear()
  // $('select[name="yearsbl"]').append('<option value="'+year+'">'+year+'</option>')
  function yeardatabl(){
    let year=$('select[name="yearsbl"]').val()
    if (year==''){return}
    currentPagelistbl=1
    loadinglistbl = false;
    $('.listblholder').on('scroll', handleScrolllistbl);
    $.get('/products/yeardatabl', {year:year}, (data)=>{
      $('.listblbody').html(data.trs)
      $('.totalbons').text(data.total)
    })
  }
  function loadMoreRecordslistbl (year, startdate, enddate, term)  {
    loadinglistbl = true;
    $.get(`/products/loadlistbl/?facture={%if facturesection%}1{% endif %}&page=${currentPagelistbl}&year=${year}&startdate=${startdate}&enddate=${enddate}&term=${term}`, (data)=>{

      const tbody = $('.listbltable tbody');
      tbody.append(data.trs);

      console.log('products loaded')
      loadinglistbl = false;


          if (!data.has_more) {

              // Remove the scroll event listener when there are no more records
              $('.listblholder').off('scroll', handleScrolllistbl);
          }
        })


        // Append the new records to your table or update the DOM as needed
    };

    function handleScrolllistbl () {
      const container = $('.listblholder')[0]; // Get the native DOM element
      const lastRow = document.querySelector('.bl-row:last-child');
      // year used to be catched from the last row's year attribute, since we have now years populated and the current yrear is selected by deafault,, it's better to assign year to year directly
      // let year=lastRow.getAttribute('year')?lastRow.getAttribute('year'):0
      let year=$('[name="yearsbl"]').val()
      let startdate=$('.startdatefilterbl').val()==""?0:$('.startdatefilterbl').val()
      let enddate=$('.enddatefilterbl').val()==""?0:$('.enddatefilterbl').val()
      let term=lastRow.getAttribute('term')?lastRow.getAttribute('term'):0
      const lastRowOffset = lastRow.offsetTop + lastRow.clientHeight;

      const containerBottom = container.scrollTop + container.clientHeight;

      console.log(lastRow, containerBottom+900 >= lastRowOffset && !loadinglistbl)

      if (containerBottom+900 >= lastRowOffset && !loadinglistbl) {
          currentPagelistbl++;
          loadMoreRecordslistbl(year, startdate, enddate, term);
      }
    };

    // Attach the scroll event listener
    $('.listblholder').on('scroll', handleScrolllistbl)

  function sortupbl(event){
    let parentdiv=$(event.target).parent().parent().parent().parent().parent()
    let tbody=parentdiv.find('tbody')
    $.get('/products/sortupbl', (data)=>{
      tbody.html(data.html)
    })
  }
  function sortdownbl(event){
    let parentdiv=$(event.target).parent().parent().parent().parent().parent()
    let tbody=parentdiv.find('tbody')
    $.get('/products/sortdownbl', (data)=>{
      tbody.html(data.html)
    })
  }
  function getnotpaid(event) {
    $('.listblbody').addClass('blurred')
    let parentdiv=$(event.target).parent().parent().parent()
    let tbody=parentdiv.find('tbody')
    $.get(
      'products/getnotpaid',
      (data)=>{
        console.log(tbody)
        $('.listblbody').removeClass('blurred')

        $('.listblbody').html(data.html)
      $('.totalbons').text(data.total)
      }
    )
  }
  function getcontrenonpaid(event) {
    $('.listblbody').addClass('blurred')
    let parentdiv=$(event.target).parent().parent().parent()
    let tbody=parentdiv.find('tbody')
    $.get(
      '/products/getcontrenonpaid',
      (data)=>{
        console.log(tbody)
        $('.listblbody').removeClass('blurred')

        $('.listblbody').html(data.html)
      $('.totalbons').text(data.total)
      }
    )
  }
  $('.filterbldate').on('click', function(){

    let parentdiv= $(this).parent().parent()
    startdate=parentdiv.find('.startdatefilterbl').val()
    enddate=parentdiv.find('.enddatefilterbl').val()
    console.log(parentdiv)
    if (startdate=='' || enddate==''){
      alertify.error('Date')
      return
    }
    $.get('/products/filterbldate?facture={% if facturesection %}1{% endif %}', {startdate:startdate, enddate:enddate},(data)=>{
      console.log(data)
      $('.listblbody').html(data.trs)
      $('.totalbons').text(data.total)
    })
    $('.listblholder').on('scroll', handleScrolllistbl);
      currentPagelistbl=1
      loadinglistbl = false;
  })
  $('.searchinputlistbl').on("change", function() {
    // Get the values from all filter input fields
    var filterValue = $(this).val().toLowerCase();
    //if (filterValue!=""){
      let year=$('select[name="yearsbl"]').val()?$('select[name="yearsbl"]').val():0
      console.log(year)
      // Split the filter value into individual terms based on the '&' sign
      // var filterTerms = filterValue.split('+').map(function(term) {
      //     return term.trim();
      // });
      let startdate=$('.startdatefilterbl').val()==""?0:$('.startdatefilterbl').val()
      let enddate=$('.enddatefilterbl').val()==""?0:$('.enddatefilterbl').val()
      $.get('/products/searchforlistbl?facture={% if facturesection %}1{% endif %}', {'term':filterValue.trim(), 'startdate':startdate, 'enddate':enddate, 'year':year}, (data)=>{
        console.log('eee')
        $(".listbltable tbody").html('')
        $(".listbltable tbody").html(data.trs)
        $('.totalbons').text(data.total)
        });
      $('.listblholder').on('scroll', handleScrolllistbl);
      currentPagelistbl=1
      loadinglistbl = false;
    //}


    // Iterate through the table rows
    // total=0
    // $('.listbltable tbody tr:visible').each(function(){
    //   total+=parseFloat($(this).find('td:nth-child(5)').text())
    // })
    // $('.totalbons').text(total)
  })


  //  $('.clientinputbl').on("keyup", function() {
  //   var value = $(this).val().toLowerCase();
  //   $(".listbltable tbody tr").filter(function() {
  //     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  //   });
  // });
  // $('.repinputbl').on("keyup", function() {
  //   var value = $(this).val().toLowerCase();
  //   $(".listbltable tbody tr").filter(function() {
  //     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  //   });
  // });
  // $('.anotherinputbl').on("keyup", function() {
  //   var value = $(this).val().toLowerCase();
  //   $(".listbltable tbody tr").filter(function() {
  //     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  //   });
  // });
  // $('.another2inputbl').on("keyup", function() {
  //   var value = $(this).val().toLowerCase();
  //   $(".listbltable tbody tr").filter(function() {
  //     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  //   });
  // });
  // $('.another3inputbl').on("keyup", function() {
  //   var value = $(this).val().toLowerCase();
  //   $(".listbltable tbody tr").filter(function() {
  //     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  //   });
  // });
  // $('.another4inputbl').on("keyup", function() {
  //   var value = $(this).val().toLowerCase();
  //   $(".listbltable tbody tr").filter(function() {
  //     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  //   });
  // });

  // tabulatpr
  // new Tabulator('#addbonlivraisonle', {})


  // $('#addbonlivraisonle').DataTable({
  //   paging: false,
  //   responsive: true,
  //   scrollY: '50vh',
  //   // remove sort icon on header
  //   ordering:false,
  //   initComplete: function () {
  //       this.api()
  //           .columns()
  //           .every(function () {
  //               let column = this;
  //               let title = column.header().textContent;

  //               // Create input element
  //               let input = document.createElement('input');
  //               // add style to input
  //               input.style.width = '100%';
  //               input.placeholder = title;
  //               column.header().append(input);

  //               // Event listener for user input
  //               input.addEventListener('keyup', () => {
  //                   if (column.search() !== this.value) {
  //                       column.search(input.value).draw();
  //                   }
  //               });
  //           });
  //   }
  // });

//   new DataTable('#addbonlivraisonle', {
//     paging: false,
//     responsive: true,
//     scrollY: '60vh',
//     // remove sort icon on header
//     ordering:false,
//     initComplete: function () {
//         this.api()
//             .columns()
//             .every(function () {
//                 let column = this;
//                 let title = column.header().textContent;

//                 // Create input element
//                 let input = document.createElement('input');
//                 // add style to input
//                 input.style.width = '100%';
//                 input.placeholder = title;
//                 column.header().replaceChildren(input);

//                 // Event listener for user input
//                 input.addEventListener('keyup', () => {
//                     if (column.search() !== this.value) {
//                         column.search(input.value).draw();
//                     }
//                 });
//             });
//     }
// });



    // wrap the code bellow inside document ready function





    // $('.ord').each(function(){
    //   $(this).click(function(){

    //     id=$(this).attr('orderid');
    //     window.location.href='/salsemanorders/'+id
    //         // $.ajax({
    //         //     url: '/salsemanorders/'+id,
    //         //     type: 'POST',
    //         //     data:{
    //         //       'csrfmiddlewaretoken': '{{ csrf_token }}',
    //         //     },
    //         //     success: function(data){
    //         //       $('.orderitems').html(data.data);
    //         //       stoploading()
    //         //       $('.closeorderitems').click(function(){
    //         //         $('.orderitems').removeClass('openorder');
    //         //       })
    //         //     }
    //         // });
    //     });
    // })

</script>
