<style>
    [data-tooltip] {
    position: relative;
    letter-spacing: 0.1rem;
}

[data-tooltip]::before,
[data-tooltip]::after {
    --tooltip-color: #333;
    --arrow-size: .5rem;
    --scale: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, var(--translate-y)) scale(var(--scale));
    transition: transform 100ms;
    transition-timing-function: linear;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    --scale: 1;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.45, 1.93);
}

[data-tooltip]::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    background-color: var(--tooltip-color);
    color: white;
    padding: .5em;
    border-radius: .3em;
    width: fit-content;
    text-align: center;
    transform-origin: bottom center;
}

[data-tooltip]::after {
    --translate-y: calc(-1 * var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}
</style>



<div class="card">

    <div class="border p-2 position-relative updatereglementsupp position-fixed shadow rounded d-none" style="z-index: 999;overflow: scroll; height: 65vh;background: aliceblue;">
        <button onclick="$(this).parent().addClass('d-none')">X</button>
        <strong>
            Modifier le reglement
        </strong>
        <div class="row">

            <div class="col-3">
                <div class="">
                    <small>Date:</small> <br>
                    <input type="date" value="{{today|date:'Y-m-d'}}" name="date" class="w-100 notempty mb-2">
                </div><br>
                <input name="reglementid" hidden>
                <small>Forn.: <span class="supplierinupdatereglsupp"></span></small><br>
                <small>Sold Frn. : <span class="soldblinupdatereglsupp text-danger" style="margin-left: 10px;"></span></small><br>
                <div class="mt-5">
                    <input type="password" class="passworddeletereglsupp form-control">
                    <button class="btn btn-danger deletereglsuppbtn w-100" reglid="" onclick="deletereglsupp(event)">Supprimer</button>
                </div>
            </div>

            <div class="reglementbonsholder col-9 border position-relative">

                <div class="inputsholder">


                    <div class="row align-items-center">
                        <div class="col-3">
                            <small>Mantant:</small> <br>
                            <input type="number" name="mantant" class="w-100 notempty" placeholder="Mantant">
                        </div>
                        <div class="col-3">
                            <small>N° piece:</small> <br>
                            <input type="text" name="npiece" class="w-100 notempty" placeholder="N° piece">
                        </div>
                        <div class="col-3">
                            <small>Mode Paiment:</small> <br>
                            <select name="mode" class="w-100 notempty" onchange="checkmodereglement(event)">
                                <option value="cheque">Cheque</option>
                                <option value="effet">effet</option>
                                <option value="espece">espece</option>
                                <option value="verement">verement</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <small>Echeance:</small> <br>
                            <input type="date" value="{{today|date:'Y-m-d'}}" name="echeance" class="w-100 notempty">
                        </div>
                    </div>
                </div>



                <div class="mb-2 mt-2">
                    <div class="d-flex justify-content-between">
                        <div>Bons:</div>
                        <div>
                            <input style="width:20em" type="text" name="" id="" placeholder="Recherche" class="searchinputlistreglsuppupdate">
                        </div>
                    </div>
                    <div style="max-height: 120px; overflow-y: scroll;">
                        <table class="table table-bordered reglsuppupdate" style="font-size: 12px;">
                            <thead style="position: sticky; top: 0;" class="bg-white">
                                <tr>
                                    <td>
                                        Date
                                    </td>
                                    <td>
                                        N° Bon
                                    </td>

                                    <td>
                                        total
                                    </td>
                                    <td>
                                        Status
                                    </td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <thead style="position: sticky; bottom: 0;" class="bg-white">
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>

                                    <td class="totalblinupdatereglsupp" style="background: yellowgreen;">
                                    </td>
                                    <td class="">

                                    </td>
                                    <td></td>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- <select name="addreglementbons disabled" id="" class="select2 form-select " multiple="multiple">

                    </select> -->
                </div>
                <button class="btn text-white w-100 submitupdatereglementsupp" onclick="submitupdatereglementsupp(event)" style="background: #00538c;">
                    Valider
                </button>
                <!-- <div class="mb-2">
                    <small>Facture</small>
                    <select name="addreglementbons disabled" id="" class="select2 form-select " multiple="multiple">

                    </select>
                </div>

                <select name="addreglementfactures disabled" id="" class="select2 form-select " multiple="multiple">

                </select> -->

            </div>
            <div class="mt-3">
                {% csrf_token %}


            </div>

        </div>
    </div>

    <div class="border-end p-2 position-relative">
        <div class="accordion" id="accordionreglsupp">
            <div class="">

                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapsereglsupp" aria-expanded="true" aria-controls="collapsereglsupp">
                    + Ajouter un Reglement Fournisseur
                </button>

              <div id="collapsereglsupp" class="collapse" aria-labelledby="headingOne" data-parent="#accordionreglsupp">
                <div class="card-body border shadow rounded">
                    <div class="row">

                        <div class="col-3">
                            <div class="">
                                <small>Date:</small> <br>
                                <input type="date" value="{{today|date:'Y-m-d'}}" name="datereglementsupp" class="w-100 notempty datereglementsupp mb-2">
                            </div><br>
                            <button type="button" name="button" class="btn bg-darkblue text-white" onclick="refreshselectsupp(event)">↻</button>
                            <select name="addreglementsupp" id="" class="select2 form-select addreglementsupp suppslect2" style="width:100%;">

                            </select>
                        </div>

                        <div class="reglementbonsachatholder d-none col-9 border position-relative">

                            <div class="inputsholder">
                                <button style="background: #f06623;" class="btn btn-sm text-white" onclick="addfieldsreglementsupp(event)">+</button>
                                <strong class="totalreglsupp">0.00</strong>
                                <div class="row align-items-center">
                                      <div class="col-3">
                                          <small>Mantant:</small> <br>

                                      </div>
                                      <div class="col-3">
                                          <small>N° piece:</small> <br>

                                      </div>
                                      <div class="col-3">
                                          <small>Mode Paiment:</small> <br>

                                      </div>
                                      <div class="col-3">
                                          <small>Echeance:</small> <br>

                                      </div>
                                  </div>
                                <div class="reglements">
                                  <div class="mt-2 row align-items-center">
                                      <div class="col-3">
                                          <input type="number" name="mantantreglementsupp" onchange="totalreglementsupp(event)" class="w-100 notempty" placeholder="Mantant">
                                      </div>
                                      <div class="col-3">
                                          <input type="text" name="npiecereglementsupp" class="w-100 notempty" placeholder="N° piece">
                                      </div>
                                      <div class="col-3">
                                          <select name="modereglementsupp" class="w-100 notempty" onchange="checkmodereglementsupp(event)">
                                              <option value="cheque">Cheque</option>
                                              <option value="effet">effet</option>
                                              <option value="espece">espece</option>
                                              <option value="verement">verement</option>
                                          </select>
                                      </div>
                                      <div class="col-3">
                                          <input type="date" value="{{today|date:'Y-m-d'}}" name="echeancereglementsupp" class="w-100 notempty">
                                      </div>
                                  </div>
                                </div>
                            </div>



                            <small>Bons: <strong class="totalcheckedsupp">0.00</strong></small>
                            <div class="mb-2 mt-2" style="max-height: 160px; overflow-y: scroll;">
                                <table class="table table-bordered table-hover" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <td>
                                                Date
                                            </td>
                                            <td>
                                                N° Bon
                                            </td>
                                            <td>
                                                Client
                                            </td>
                                            <td>
                                                total
                                            </td>
                                            <td>
                                                Rest
                                            </td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody class="reglementsuppbonholder">
                                    </tbody>

                                </table>
                                <!-- <select name="addreglementbons disabled" id="" class="select2 form-select " multiple="multiple">

                                </select> -->
                            </div>
                            <button class="btn text-white w-100 submitaddreglemntsuppbtn disabled" style="background: #00538c;">
                                Valider
                            </button>
                            <!-- <div class="mb-2">
                                <small>Facture</small>
                                <select name="addreglementbons disabled" id="" class="select2 form-select " multiple="multiple">

                                </select>
                            </div>

                            <select name="addreglementfactures disabled" id="" class="select2 form-select " multiple="multiple">

                            </select> -->

                        </div>
                        <div class="mt-3">
                            {% csrf_token %}


                        </div>

                    </div>
                </div>
              </div>
            </div>
          </div>

    </div>

    <div class="d-flex justify-content-between">
        <div class="d-flex">
          <div class="me-2">
            Du <br>
            <input type="date" value="{{today|date:'Y-m-d'}}" name="" id="" class="startdate">
          </div>
          <div>
            Au <br>
            <input type="date" value="{{today|date:'Y-m-d'}}" name="" id="" class="enddate">
          </div>
          <button class="btn btn-sm bg-dark text-white filterreglsuppdate">Filtrer</button>

        </div>
        <input style="width:20em" type="text" name="" id="" placeholder="Recherche" class="searchinputlistreglsupp">
        <select name="yearsreglsupp" class="populateyears" onchange="yeardatareglsupp()" style="background: #eaeaea;
        margin: 0 6px 10px;
        width: 5em;
        border-radius: 10px;">


        </select>
    </div>
    <div style="height: 70vh; overflow-y: scroll;" class="reglsupptableholder" >
      <table class="table table-bordered reglsupptable" style="font-size: 12px;">
          <thead style="position: static; top: 0; background: gray;">
              <th>
                  Type
              </th>
              <th>
                  N°
              </th>
              <th>
                  Mantant
              </th>
              <th>
                  Date saisie
              </th>
              <th>
                  Fournisseur
              </th>

              <th>
                  Echeance
              </th>
              <th>
                  N° Bons
              </th>
          </thead>
          <tbody>
               {% for i in reglements %}
               <tr class="suppreglrow">
                     <td>
                          {{i.mode}}
                     </td>
                     <td>
                          {{i.npiece}}
                     </td>
                     <td>
                          {{i.amount}}
                     </td>
                     <td>
                          {{i.date|date:"d/m/Y"}}
                     </td>
                     <td>
                          {{i.supplier.name}}
                     </td>
                     <td>
                          {{i.echeance|date:"d/m/Y"}}
                     </td>
                     <td class="d-flex justify-content-between">

                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" data-tooltip=" {% for bon in i.bons.all %}{{ bon.nbon }}{% if not forloop.last %}, {% endif %}{% endfor %}">
                        </button>

                        <button class="btn btn-success btn-sm" onclick="updatereglementsupp('{{i.id}}')">✐</button>
                     </td>
               </tr>
               {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="card-body row">
      <div class="col-4">
      </div>
    </div>
</div>


<script>
  function yeardatareglsupp(){
    let year=$('[name="yearsreglsupp"]').val()
    if (year != 0){
        $.get('/products/yeardatareglsupp', {'year':year}, (data)=>{
            $('.reglsupptable tbody').html(data)
            //$('.totalreglbl').text(data.total)
        })
    }
  }
  populateyears()
  currentPagereglsupp=1
  function loadMoreRecordsreglsupp (supplierid, nr)  {
  loadingreglsupp = true;
  $.get(`/products/laodblreglsupp/?page=${currentPagereglsupp}&supplierid=${supplierid}&nr=${nr}`, (data)=>{

    const tbody = $('.reglsupptable tbody');
    tbody.append(data.trs);

    console.log('products loaded')
    loadingreglsupp = false;


        if (!data.has_more) {

            // Remove the scroll event listener when there are no more records
            $('.reglsupptableholder').off('scroll', handleScrollreglblcl);
        }
      })


      // Append the new records to your table or update the DOM as needed
  };

  function handleScrollreglblcl () {

    const container = $('.reglsupptableholder')[0]; // Get the native DOM element

    const lastRow = document.querySelector('.suppreglrow:last-child');
    let supplierid=lastRow.getAttribute('supplierid')
    let nonregllist=lastRow.classList.contains('nr')?1:0
    const lastRowOffset = lastRow.offsetTop + lastRow.clientHeight;

    const containerBottom = container.scrollTop + container.clientHeight;

    if (containerBottom+900 >= lastRowOffset && !loadingreglsupp) {
      console.log('looaddd')
        currentPagereglsupp++;
        loadMoreRecordsreglsupp(supplierid, nonregllist);
    }
  };
  //$('.reglsupptableholder').on('scroll', handleScrollreglblcl);
  function removereglrowsupp(event){
        let parentdiv=$(event.target).parent().parent()
        let amountinp=parentdiv.find('[name="mantantreglementsupp"]').val()
        if (amountinp.length==0){
            parentdiv.remove()
        }
    }
  function addfieldsreglementsupp(event){
    let parentdiv=$(event.target).parent()
    // parentdiv.find('.mantantholder').append('<input type="number" name="mantantreglementclient" class="w-100 notempty mt-2">')
    // parentdiv.find('.modeholder').append('<select name="modereglementclient" class="w-100 notempty"><option value="cheque">Cheque</option><option value="effet">effet</option></select>')
    // parentdiv.find('.echeanceholder').append('<input type="date" name="echeancereglementclient" class="w-100 notempty">')
    // parentdiv.find('.npieceholder').append('<input type="text" name="npiecereglementclient" class="w-100 notempty mt-2">')
    parentdiv.find('.reglements').prepend('<div class="mt-2 row align-items-center"><div class="col-3"> <input type="number" name="mantantreglementsupp" onchange="totalreglementsupp(event)" class="w-100 notempty" placeholder="Mantant"></div><div class="col-3"> <input type="text" name="npiecereglementsupp" class="w-100 notempty" placeholder="N° piece"></div><div class="col-3"> <select name="modereglementsupp" class="w-100 notempty" onchange="checkmodereglementsupp(event)"><option value="cheque">Cheque</option><option value="effet">effet</option><option value="espece">espece</option><option value="verement">verement</option></select></div><div class="col-3 d-flex"> <input type="date" name="echeancereglementsupp" class="w-100 notempty"><button class="btn btn-sm bg-danger" onclick="removereglrowsupp(event)"></button></div></div>')
  }
  function totalreglementsupp(event){
    let sum = 0;
    $('input[name="mantantreglementsupp"]').map(function() {
        const value = parseFloat($(this).val()) || 0;
        sum += value;
    });
    $('.totalreglsupp').text(sum.toFixed(2))
  }
  function deletereglsupp(event){
      target=$(event.target)
      reglid=target.attr("reglid")
      password=$('.passworddeletereglsupp').val()
      $.get('/products/deletereglsupp', {'reglid':reglid, 'password':password}, (data)=>{
          forceupdatetab('addlistreglementsupp', '/products/listreglementsupp')
      })
  }
    $(function(){
      $('.addreglementsupp').select2({
        minimumInputLength: 1,
        placeholder:'Chercher',
        ajax: {
          type:'get',
          dataType: 'json',
          url: '/products/searchsupplier',
          data: function (params) {
            var query = {
              term: params.term,
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          },
          proccessresults: function (data) {
              return {
                results:data.results
              }
          },
          cache:true
        }
      });

    })
function submitupdatereglementsupp(event){

        // $('.loadingscreen').removeClass('d-none')

        $(event.target).addClass('disabled')
        $('.updatereglementsupp').removeClass('d-none')
        // get reglement data
        date=$('.updatereglementsupp').find('[name="date"]').val()
        reglementid=$('.updatereglementsupp').find('[name="reglementid"]').val()


        mantant=$('.updatereglementsupp').find('[name="mantant"]').val()
        tbody=$('.updatereglementsupp').find('.reglementclientbonholder')
        npiece=$('.updatereglementsupp').find('[name="npiece"]').val()
        mode=$('.updatereglementsupp').find('[name="mode"]').val()
        echeance=$('.updatereglementsupp').find('[name="echeance"]').val()
        var isAnyEmpty = $('.updatereglementsupp').find('.notempty').filter(function() { return $(this).val() == ''; }).length > 0;
        if (isAnyEmpty){
            let emptyInputs = $('.updatereglementsupp').find('input.notempty').filter(function() {
                return !this.value.trim();
            });

            $(event.target).removeClass('disabled')
            // Add a red border to all empty input elements
            alertify.error('Veuillez remplir tous les champs obligatoires')
            emptyInputs.css('border', '1px solid red');
            $('.updatereglementsupp').find('input.notempty').not(emptyInputs).css('border', '');
            $(this).attr('disabled', false)
            return
        }
        $(event.target).addClass('disabled')

        $('.updatereglementsupp').find('input.notempty').css('border', '1px solid green')
        // if ((selectedValues = $('.updatereglementsupp').find("input[name='bonstopay']:checked").map(function() {
        //     return this.value;
        // }).get()).length == 0){
        //     alertify.error('Veuillez selectionner au moins un bon')
        //     return
        // }
        selectedValues = $('.updatereglementsupp').find("input[name='bonstopay']:checked").map(function() {
            return this.value;
        }).get()
        console.log(reglementid, date, mantant, npiece, mode, echeance, selectedValues)
        $.post('/products/updatereglesupp', {
            reglementid:reglementid,
            mantant:mantant,
            mode:mode,
            npiece:npiece,
            echeance:echeance,
            date:date,
            bons:JSON.stringify(selectedValues),
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(data){
              $('.updatereglementsupp').addClass('d-none')
                //forceupdatetab('listreglementsupp', '/products/listreglementsupp')
                alertify.success('Reglement modifié')
        })
    // end submitupdatereg function
    }


    function updatereglementsupp(reglementid){
        $('.loadingscreen').removeClass('d-none')
        $('.deletereglsuppbtn').attr('reglid', reglementid)
        $('.updatereglementsupp').removeClass('d-none')
        // get reglement data
        date=$('.updatereglementsupp').find('[name="date"]')
        regid=$('.updatereglementsupp').find('[name="reglementid"]').val(reglementid)
        mantant=$('.updatereglementsupp').find('[name="mantant"]')
        tbody=$('.updatereglementsupp').find('tbody')
        npiece=$('.updatereglementsupp').find('[name="npiece"]')
        mode=$('.updatereglementsupp').find('[name="mode"]')
        echeance=$('.updatereglementsupp').find('[name="echeance"]')

        tbody.html('')
        console.log(date, mantant)
        // get regl data
        $.get('/products/getreglementsupp/'+reglementid, {

            }, function(data){
                $('.submitupdatereglementsupp').removeClass('disabled')
                $('.totalblinupdatereglsupp').text(data.total)
                $('.soldblinupdatereglsupp').text(data.soldsupplier)
                $('.supplierinupdatereglsupp').text(data.supplier)
                $('.loadingscreen').addClass('d-none')
                date.val(data.date)
                mantant.val((data.mantant).toFixed(2))
                npiece.val(data.npiece)
                mode.val(data.mode)
                echeance.val(data.echance)
                if (data.mode == "espece"){
                    echeance.removeClass('notempty')
                    npiece.removeClass('notempty')
                }
                for (let i of data.bons){
                    const date = new Date(i.date);

                    // Create formatted date string in the desired format "d/m/Y"
                    const formattedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
                    tbody.append(`
                    <tr style="background:#ddfaed"><td>${formattedDate}</td><td>${i.nbon}</td><td>${i.total}</td><td class="text-danger">${i.ispaid?'R0':'N1'}</td> <td><input type="checkbox" value="${i.id}" name="bonstopay" onchange="checkreglementbox(event)" checked></td></tr>
                    `)
                }
                for (let i of data.livraisons){
                    const date = new Date(i.date);

                    // Create formatted date string in the desired format "d/m/Y"
                    const formattedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
                    tbody.append(`
                    <tr><td>${formattedDate}</td><td>${i.nbon}</td><td>${i.total}</td><td class="text-danger">${i.rest}</td> <td><input type="checkbox" value="${i.id}" name="bonstopay" onchange="checkreglementbox(event)" ></td></tr>
                    `)
                }
                // $('.select2').select2()
            // populate bons multiselect
        })
    }

    $('.searchinputlistreglsupp').on("keyup", function() {
    // Get the values from all filter input fields
        var filterValue = $(this).val().toLowerCase();

        // Split the filter value into individual terms based on the '&' sign
        var filterTerms = filterValue.split('+').map(function(term) {
            return term.trim();
        });

        // Iterate through the table rows
        $(".reglsupptable tbody tr").each(function() {
            var rowText = $(this).text().toLowerCase();
            var showRow = true;

            // Check if all filter terms are present in the row text
            $.each(filterTerms, function(index, term) {
                if (term !== '' && rowText.indexOf(term) === -1) {
                    showRow = false;
                    return false; // Exit the loop early if a mismatch is found
                }
            });

            // Toggle the visibility of the row based on the filter criteria
            $(this).toggle(showRow);
        });
        total=0
        $('.reglsupptable tbody tr:visible').each(function(){
        total+=parseFloat($(this).find('td:nth-child(4)').text())
        })
        $('.totalbbonachat').text(total.toFixed(2))
    });


    $('.filterreglsuppdate').on('click', function(){

        let parentdiv= $(this).parent().parent().parent()
        startdate=parentdiv.find('.startdate').val()
        enddate=parentdiv.find('.enddate').val()
        if (startdate=='' || enddate==''){
        alertify.error('Date')
        return
        }
        $.get('/products/filterreglsuppdate', {startdate:startdate, enddate:enddate},(data)=>{
        console.log(data)
        parentdiv.find('tbody').html(data.html)
        parentdiv.find('.totalbbonachat').text(data.total)
        })
    })
    // $('.select2').select2()
    var dateInput = document.querySelector('.datereglementsupp');

// Create a new Date object for today
    var today = new Date();

    // Get the current date in the "yyyy-mm-dd" format
    var yyyy = today.getFullYear();
    var mm = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed, so we add 1
    var dd = String(today.getDate()).padStart(2, '0');

    // Format the date as "yyyy-mm-dd"
    var currentDate = yyyy + '-' + mm + '-' + dd;

    // Set the value of the date input to today's date
    dateInput.value = currentDate;


    // on change mode
    // $('[name="modereglementsupp"]').on('change', function(){
    //     if ($(this).val()=="cheque" || $(this).val()=="effet"){
    //         // echeance n piece will be required
    //         $('[name="npiecereglementsupp"]').addClass('notempty')
    //         $('[name="datereglementsupp"]').addClass('notempty')
    //     }else{
    //         $('[name="npiecereglementsupp"]').removeClass('notempty')
    //         $('[name="datereglementsupp"]').removeClass('notempty')
    //     }
    // })

    // client change
    $('[name="addreglementsupp"]').on('change', function(){
        if ($(this).val()==""){
            $('.reglementbonsachatholder').addClass('d-none')
            // disable the divholder of the multiselects
            // disable the button
            $('.submitaddreglemntsuppbtn').addClass('disabled')
            return
        }
        $('.submitaddreglemntsuppbtn').removeClass('disabled')
        $('.reglementbonsachatholder').removeClass('d-none')
        supplierid=$(this).val()
        $('.loadingscreen').removeClass('d-none')
        $.post('/products/getsuppbons', {
            supplierid:supplierid,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(data){
                console.log(data)
                $('.loadingscreen').addClass('d-none')
                $('.reglementsuppbonholder').html(data.trs)
                // $('.select2').select2()
            // populate bons multiselect
        })
        // enable the divholder of the multiselects
        // get client bons
        //populate bons multiselect
        // get client facture
        // populate facture multiselect
    })

    // check for npiece existence
    $('[name="npiecereglementsupp"]').on('input', function(){
        npiece=$(this).val()
        console.log('check npiece', npiece)
        $.post('/products/checknpiece', {
            npiece:npiece,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(data){
                console.log(data)
                if (data.exist){
                    alertify.error('N° piece existe deja')
                    //$('[name="npiecereglementsupp"]').val('')
                }
            })
    })


    $('.submitaddreglemntsuppbtn').on('click', function(event){
        event.preventDefault()
        let parentdiv=$(this).parent().parent()
        var isAnyEmpty = parentdiv.find('.notempty').filter(function() { return $(this).val() == ''; }).length > 0;
        if (isAnyEmpty){
            let emptyInputs = parentdiv.find('input.notempty').filter(function() {
                return !this.value.trim();
            });

            // Add a red border to all empty input elements
            alertify.error('Veuillez remplir tous les champs obligatoires')
            emptyInputs.css('border', '1px solid red');
            parentdiv.find('input.notempty').not(emptyInputs).css('border', '');
            $(this).attr('disabled', false)
            return
        }
        //used to return if no bon is selected
        // if ((selectedValues = parentdiv.find("input[name='bonsachattopay']:checked").map(function() {
        //     return this.value;
        // }).get()).length == 0){
        //     alertify.error('Veuillez selectionner au moins un bon')
        //     return
        // }
        $(this).addClass('disabled')
        supplierid=parentdiv.find('[name="addreglementsupp"]').val()
        mantant=parentdiv.find('[name="mantantreglementsupp"]').map(function() {
            return parseFloat(this.value);
        }).get();
        mode=parentdiv.find('[name="modereglementsupp"]').map(function() {
            return this.value;
        }).get();
        npiece=parentdiv.find('[name="npiecereglementsupp"]').map(function() {
            return this.value;
        }).get();
        echeance=parentdiv.find('[name="echeancereglementsupp"]').map(function() {
            return this.value;
        }).get();
        date=parentdiv.find('[name="datereglementsupp"]').val()

        bons=parentdiv.find('[name="addreglementbons"]').map(function() {
            return this.value;
        }).get();
        echeance=parentdiv.find('[name="echeancereglementsupp"]').map(function() {
            return this.value;
        }).get();
        selectedValues=parentdiv.find("input[name='bonsachattopay']:checked").map(function() {
            return this.value;
        }).get()
        console.log(supplierid, date, mantant, mode, npiece, echeance, selectedValues)
        $.post('/products/reglebonsachat', {
            supplierid:supplierid,
            mantant:JSON.stringify(mantant),
            mode:JSON.stringify(mode),
            npiece:JSON.stringify(npiece),
            echeance:JSON.stringify(echeance),
            date:date,
            bons:JSON.stringify(selectedValues),
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(data){
                createtab('addlistreglementsupp', 'REGLEMENT FOURNISSEUR', '/products/listreglementsupp')
        })
    })

</script>
