<style>
  .autocomplete {
position: relative;
width: 300px; /* Adjust as needed */
}

#search-input {
width: 100%;
padding: 10px;
}

#suggestion-list {
position: absolute;
list-style: none;
background-color: white;
border: 1px solid #ccc;
max-height: 200px;
overflow-y: auto;
width: 100%;
padding: 0;
margin: 0;
}
</style>
<div class="text-white rounded h3 text-center" style="background: #1a6a9b;">
  <div>
    {{title}}
  </div>
</div>
{% if livraison.ispaid %}
<div class="alert alert-success">
  <b>Ce bon est payé</b>
</div>
{%else%}
<div class="">
       <div class="bg-white rounded shadow p-2 mb-3 data d-flex justify-content-between">
          <div class="col-5">
              <div class="mb-2">
                <small>Client: {{livraison.client.name}} </small>

                  <select name="client" id="" style="width:100%;" class="select2 clientselectlivraison{{livraison.id}} form-select notemptylivraison{{livraison.id}}">

                  </select>
              </div>
              <div class="mb-2">
                  <small>Representant:</small>
                  <select name="representant" id="" style="width:100%;" class="select2 repsselectslivraison{{livraison.id}} form-select notemptylivraison{{livraison.id}}">
                      <option value="{{livraison.salseman.id}}">{{livraison.salseman.name}}</option>
                      {% for i in commercials %}
                      <option value="{{i.id}}">{{i.name}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="mb-2">
                <small>Date:</small>

                  <input type="date" class="form-control datebonlivraison{{livraison.id}}" name="datebonlivraison{{livraison.id}}" value="{{livraison.date|date:'Y-m-d'}}" placeholder="Date bon">
              </div>
              <div class="mb-2">
                <small>N° Bon:</small>
                  <input type="text" class="form-control ordernolivraison{{livraison.id}}" name="ordernolivraison{{livraison.id}}" value="{{livraison.bon_no}}">
              </div>
              <div class="mb-2">
                <small>Transport:</small>

                  <input placeholder="transport" type="text" class="form-control transportlivraison{{livraison.id}}" name="transportlivraison{{livraison.id}}" value="{{livraison.modlvrsn}}">
              </div>
              <div class="mb-2">
                <small>Note:</small>

                  <input placeholder="note" type="text" class="form-control notelivraison{{livraison.id}}" name="notelivraison{{livraison.id}}" value="{{livraison.note}}">
              </div>
          </div>

          <div class="col-7 row">
            <div class="col-12">

              <select class="resultsholderbonlivraison{{livraison.id}} mb-2 form-select select2" style="width: 100%;">

              </select>
            </div>
            <div class="col-3">
              <input type="number" class="form-control" placeholder="Quantité" name="addqty">
              <div class="addstock text-danger"></div>
              <div class="addstockfacture mt-5 text-primary"></div>
            </div>
            <div class="col-3">
              <input type="number" class="form-control" placeholder="Prix" name="addprice">
              <div class="addclientprice text-danger"></div>
            </div>
            <div class="col-3">
              <input type="number" class="form-control" placeholder="Remise" name="addremise">
            </div>
            <div class="col-3">
              <button class="btn btn-outline-secondary text-white bg-darkblue" onclick="addrowupdatebonlivraison(event, '{{livraison.id}}')">Ajouter</button>
            </div>
            <div class="col-12">
              <input hidden readonly type="text" name="addname" class="form-control">
            </div>
          </div>




        </div>

    <div>
        <div class="bg-white rounded shadow p-2 tableholder">
            <!-- <div>
                <small>
                    Ref.
                </small>
                <input type="text" name="ref" class="form-control searchref">
            </div> -->
            <div class="d-flex justify-content-between">

                <div class="mb-3 col-5">

              </div>

          </div>
          <div class="col-5">
            <input type="text" class="searchbonlivraisoncreation{{livraison.id}}" placeholder="Search..." />
          </div>
          <table class="table table-bordered text-center bonlivraisoncreation{{livraison.id}}" style="font-size: 12px;">
            <thead style="background: orange; color:#091b27;">
              <thead style="background: orange; color:#091b27;">
                <tr>
                    <td style="padding: 2px 0; font-size: 13px; width: 9%;">REF</td>
                    <td style="padding: 2px 0; font-size: 13px;">Article</td>
                    <td style="padding: 2px 0; font-size: 13px; width: 9%;">Dernier Pr.</td>
                    <td style="padding: 2px 0; font-size: 13px;">Stock</td>
                    <td style="padding: 2px 0; font-size: 13px; width: 9%;">Dernier Pr. cli</td>
                    <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Quantité</td>
                    <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Prix unit.</td>
                    <td style="padding: 2px 0; font-size: 13px;width: 3%;" >Remise</td>
                    <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Prix Net</td>
                    <td style="padding: 2px 0; font-size: 13px;">Total</td>
                </tr>
            </thead>
            </thead>
            <!-- <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>TOTAL</td>
                <td class="totalbon" style="background: orange; color:#091b27;">
                    0.00
                </td>
              </tr>
            </tfoot> -->
            <tbody class="bonlivraisonbodyupdate{{livraison.id}}">
              <!-- items of the bon -->
              {% for i in items %}
              <tr class="itemrow">
                  <td class="ref" onclick="removelineupdatebl(event, '{{livraison.id}}', '{{i.product.id}}')">{{i.product.ref}}</td>
                  <td class="name">{{i.product.name}}</td>
                  <td>{{i.product.buyprice}}</td>
                  <td>{{i.product.stocktotal}}</td>
                  <td class="clientprice">{{i.clientprice}}</td>
                  <td><input type="number" class="calculate qty notemptylivraison{{livraison.id}}" onkeyup="calculatelivraison(event, '{{livraison.id}}')" name="qty" value="{{i.qty}}"></td>
                  <td><input type="number" class="calculate price notemptylivraison{{livraison.id}}" onkeyup="calculatelivraison(event, '{{livraison.id}}')" name="price" value="{{i.price}}"></td>
                  <td><input type="number" class="calculate remise notemptylivraison{{livraison.id}}" onkeyup="calculatelivraison(event, '{{livraison.id}}')" name="remise" value="{{i.remise}}"></td>
                  <td class="netprice">{{i.product.prixnet}}</td>
                  <td class="total">{{i.total}}</td>
                  <input type="hidden" name="productid" value="{{i.product.id}}">

            {% endfor %}
            </tbody>
          </table>
          <div class="d-flex justify-content-between bg-white" style="position: sticky; bottom: 0;">
              <button class="btn btn-success submitbonlivraison{{livraison.id}}">
                    Valider
              </button>
              <div>
                <b class="totalbonlivraison{{livraison.id}} totalbonlivraison totalbon text-danger border p-2" style="color: #dc3545 !important;">
                  {{livraison.total}}
                </b>
                <button class="btn btn-danger" onclick="deletetab(event, 'modifierlivraison{{livraison.id}}')">
                  Fermer
                </button>
              </div>
          </div>
        </div>
    </div>
    {{livraison.id}}
</div>

{%endif%}
<script>
  //removelineupdatebl
  function removelineupdatebl(event, blid, id) {
      let parentdiv=$(event.target).parent().parent().parent().parent().parent().parent()
      clicksinupdatebl++;

      if (clicksinupdatebl === requiredClicks) {
          // User has clicked the element four times consecutively
          // Add your code to run when there are four consecutive clicks here
          alertify.confirm('Supprimer', 'Supprimer la ligne', function(){
            console.log('delete'),
            // remove element
            // remove id from localstorage
            $(event.target).parent().remove()
            pdcts=JSON.parse(localStorage.getItem('pdctsinbonlivraison{{livraison.id}}'))
            pdcts.splice(pdcts.indexOf(id), 1)
            localStorage.setItem('pdctsinbonlivraison{{livraison.id}}', JSON.stringify(pdcts))
            // update total
            let totalbon = parseFloat(parentdiv.find('.totalbonlivraison').text())
            let totalrow = parseFloat($(event.target).parent().find('.total').text())
            let totalbonvalue = (totalbon-totalrow).toFixed(2)
            parentdiv.find('.totalbonlivraison').html(totalbonvalue)
            // Reset the count
            clicksinupdatebl = 0;

          }
            , function(){ alertify.error('Cancel')});
          // Reset the count
          clicksinupdatebl = 0;
      }
  }

  function addrowupdatebonlivraison(event, bonid){
    if ($('.resultsholderbonlivraison{{livraison.id}}').val()==''){
      return
    }
    let target=$(event.target)
    parentdiv=target.parent().parent().parent().parent()
    console.log('parentdiv',parentdiv)
    // this reset the select2 value
    // parentdiv.find('.resultsholderbonlivraison').val('').trigger('change')
    // ids of products in bon stored in localstorage
    let bonachatbody = parentdiv.find(`.bonlivraisonbodyupdate${bonid}`)
    let addname=parentdiv.find('[name="addname"]')
    let addqty=parentdiv.find('[name="addqty"]')
    let addprice=parentdiv.find('[name="addprice"]')
    let addremise=parentdiv.find('[name="addremise"]')
    let priceclient=parentdiv.find('.addclientprice ').text()

    if (addqty.val()=='' || addprice.val()=='' || addremise.val()==''){
      alertify.error('Veuillez remplir tous les champs')
      return
    }
    var [ref, name, dp, stock, stockfacture, id, sellprice, remise, netprice, representprice] = addname.attr('data').split('§');
    console.log(ref, name, dp, stock, id, sellprice, remise, netprice, representprice)
    pdcts=JSON.parse(localStorage.getItem(`pdctsinbonlivraison${bonid}`))
    console.log(id, pdcts, pdcts.includes(id))
    if (pdcts.includes(id)){
      addqty.val('')
      addname.val('')
      addremise.val('')
      addprice.val('')
      alertify.error('Ce produit est deja dans le bon')
      parentdiv.find('.addclientprice').text('')
      parentdiv.find('.addstock').text('')

      parentdiv.find('.addstockfacture').text('')
      // THIS CREATES PROBLEMS
      // parentdiv.find('.resultsholderbonlivraison{{livraison.id}}').val('').trigger('change')
      parentdiv.find('.resultsholderbonlivraison{{livraison.id}}').select2('open')
      return
    }
    console.log(addqty.val(), stock)

    if (parseInt(addqty.val())>parseInt(stock)){
      console.log('qty', addqty.val(), 'stock', stock, 'qty > stock', addqty>stock)

      alertify.confirm('Quantité superieur au stock', 'Voulez vous continuer ?', function(){
        if (addqty.val()=='' || addprice.val()=='' || addremise.val()==''){
          alertify.error('Veuillez remplir tous les champs')
          return
        }

        if (pdcts.includes(id)){
          addqty.val('')
          addname.val('')
          addremise.val('')
          addprice.val('')
          alertify.error('Ce produit est deja dans le bon')
          parentdiv.find('.resultsholderbonlivraison{{livraison.id}}').select2('open')
          return
        }
        pdcts.push(id)
        localStorage.setItem(`pdctsinbonlivraison${bonid}`, JSON.stringify(pdcts))
        let net=(parseFloat(addprice.val())-(parseFloat(addprice.val())*parseFloat(addremise.val())/100))
        let addtotal=(parseFloat(addqty.val())*parseFloat(net)).toFixed(2)
        let tr = `
          <tr class="itemrow ${stock<=0? "text-danger":"" }">: 2
              <td style="padding: 2px 0; font-size: 13px;" class="ref" onclick="removelineupdatebl(event, '{{livraison.id}}', ${id})">${ref}</td>
              <td style="padding: 2px 0; font-size: 13px;" class="name text-start">${name}</td>
              <td style="paddingpx 0; font-size: 13px;">${dp}</td>
              <td style="padding: 2px 0; font-size: 13px;">${stock}</td>
              <td style="padding: 2px 0; font-size: 13px;" class="clientprice">${priceclient}</td>
              <td style="padding: 2px 0; font-size: 13px;"><input type="number" class="calculate qty notemptylivraison{{livraison.id}} " onkeyup="calculate(event)" name="qty" value="${addqty.val()}" style="height:23px; width:100%;"></td>
              <td style="padding: 2px 0; font-size: 13px;"><input type="number" class="calculate price notemptylivraison{{livraison.id}}" onkeyup="calculate(event)" name="price" value="${addprice.val()}" step=0.01 style="height:23px; width:100%;"></td>
              <td style="padding: 2px 0; font-size: 13px;"><input type="number" value="${addremise.val()}" class="calculate remise notemptylivraison{{livraison.id}}" onkeyup="calculate(event)" name="remise" style="height:23px; width:100%;"></td>
              <td style="padding: 2px 0; font-size: 13px;" class="netprice">${netprice}</td>
              <td style="padding: 2px 0; font-size: 13px;" class="total">${addtotal}</td>
              <input type="hidden" name="productid" value="${id}">

          </tr>
          `

        bonachatbody.prepend(tr)
        // delete selected option
        addqty.val('')
        addname.val('')
        addremise.val('')
        addprice.val('')
        parentdiv.find('.addclientprice').text('')
        parentdiv.find('.addstock').text('')
        parentdiv.find('.addstockfacture').text('')
        totals=parentdiv.parent().parent().find('.total')
        totalbon=parentdiv.parent().parent().find('.totalbon')
        console.log(totals, totalbon)
        var totalSum = 0;
        totals.each(function() {
            totalSum += parseFloat($(this).text());
        });
        totalbon.text(totalSum.toFixed(2))
        // parentdiv.find('.resultsholderbonlivraison{{livraison.id}}').val('').trigger('change')
        parentdiv.find('.resultsholderbonlivraison{{livraison.id}}').select2('open')
      }, function(){ alertify.error('Cancel')}
      );
      return

    }

    pdcts.push(id)
    localStorage.setItem(`pdctsinbonlivraison${bonid}`, JSON.stringify(pdcts))
    let net=(parseFloat(addprice.val())-(parseFloat(addprice.val())*parseFloat(addremise.val())/100))
    let addtotal=(parseFloat(addqty.val())*parseFloat(net)).toFixed(2)
    let tr = `
    <tr class="itemrow ${stock<=0? "text-danger":"" }">: 2
        <td style="padding: 2px 0; font-size: 13px;" class="ref" onclick="removelineupdatebl(event, '{{livraison.id}}', ${id})">${ref}</td>
        <td style="padding: 2px 0; font-size: 13px;" class="name text-start">${name}</td>
        <td style="paddingpx 0; font-size: 13px;">${dp}</td>
        <td style="padding: 2px 0; font-size: 13px;">${stock}</td>
        <td style="padding: 2px 0; font-size: 13px;" class="clientprice">${priceclient}</td>
        <td style="padding: 2px 0; font-size: 13px;"><input type="number" class="calculate qty notemptylivraison{{livraison.id}}" onkeyup="calculate(event)" name="qty" value="${addqty.val()}" style="height:23px; width:100%;"></td>
        <td style="padding: 2px 0; font-size: 13px;"><input type="number" class="calculate price notemptylivraison{{livraison.id}}" onkeyup="calculate(event)" name="price" value="${addprice.val()}" step=0.01 style="height:23px; width:100%;"></td>
        <td style="padding: 2px 0; font-size: 13px;"><input type="number" value="${addremise.val()}" class="calculate remise notemptylivraison{{livraison.id}}" onkeyup="calculate(event)" name="remise" style="height:23px; width:100%;"></td>
        <td style="padding: 2px 0; font-size: 13px;" class="netprice">${netprice}</td>
        <td style="padding: 2px 0; font-size: 13px;" class="total">${addtotal}</td>
        <input type="hidden" name="productid" value="${id}">

    </tr>
    `

    bonachatbody.prepend(tr)
    // delete selected option
    addqty.val('')
    addname.val('')
    addremise.val('')
    addprice.val('')
    parentdiv.find('.addclientprice').text('')
    parentdiv.find('.addstock').text('')
    parentdiv.find('.addstockfacture').text('')
    totals=parentdiv.find('.total')
    totalbon=parentdiv.find('.totalbon')
    console.log('totalsn totalbon',totals, totalbon)
    var totalSum = 0;
    totals.each(function() {
        totalSum += parseFloat($(this).text());
    });
    totalbon.text(totalSum.toFixed(2))
    // parentdiv.find('.resultsholderbonlivraison{{livraison.id}}').val('').trigger('change')
    parentdiv.find('.resultsholderbonlivraison{{livraison.id}}').select2('open')

    // let selected = $('.resultsholderbonlivraison').find(':selected')
    // selected.remove()

  }

  $(function(){

    $('.clientselectlivraison{{livraison.id}}').select2({
        minimumInputLength:1,
        placeholder: 'Select un client',
        ajax: {
          url: "{% url 'products:searchclient' %}",
          type: 'GET',
          dataType: 'json',
          data: function (params) {
            return {
              'term': params.term,
            }
          },
          processResults: function (data) {
            return {
              results: data.results
            };
          },
          cache: true
        }
      })
      $('.resultsholderbonlivraison{{livraison.id}}').select2({

        ajax: {
          type:'get',
          dataType: 'json',
          url: '/products/searchproduct',
          data: function (params) {
            var query = {
              term: params.term,
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          },
          proccessresults: function (data) {
              return {
                results:data.results
              }
          },
          cache:true
        },
        minimumInputLength: 1,
        placeholder:'Chercher Produits',
        templateResult: formatmodbon,
        templateSelection: formatmodbonSelection,
      });
      function formatmodbon (repo) {
          if (repo.loading) {
            return repo.text;
          }

          var $container = $(
            `<strong style="color:${repo.stock>0?"blue":"red"};">${repo.text}</div>`
            );



            return $container;
        }

        function formatmodbonSelection (repo) {
          return repo.text;
        }

    })
  localStorage.removeItem('pdctsinbonlivraison{{livraison.id}}')
  var productIds = [];
  {% for i in items %}
  productIds.push('{{ i.product.id }}');
  {% endfor %}
  localStorage.setItem('pdctsinbonlivraison{{livraison.id}}', JSON.stringify(productIds));
  // open select 2
  // $(document).ready(function(){
  //   $('.clientselectlivraison{{livraison.id}}').select2('open')
  // })



    $('.resultsholderbonlivraison{{livraison.id}}').on('change', function(){

      console.log($(this).val())
      parentdiv=$(this).parent().parent().parent()
      console.log('parent', parentdiv)
        var [ref, name, dp, stock, stockfacture, id, sellprice, remise, netprice, representprice] = $(this).val().split('§');
        let repswithprice=[]
        let addname=parentdiv.find('input[name="addname"]')
        let addprice=parentdiv.find('input[name="addprice"]')
        let addremise=parentdiv.find('input[name="addremise"]')
        let addqty=parentdiv.find('input[name="addqty"]')
        parentdiv.find('.addstock').text(stock)
        parentdiv.find('.addstockfacture').text(stockfacture)
        addqty.val('')
        addprice.val(sellprice)
        addremise.val(remise)
        addname.val(`${ref} - ${name}`).attr('data', `${ref}§${name}§${dp}§${stock}§${stockfacture}§${id}§${sellprice}§${remise}§${netprice}§${representprice}`)
        // we are getting ere list of reps that have price
        $.ajax({
            url: "{% url 'products:getrepswithprice' %}",
            type: 'POST',
            data: {
                'id': id,

                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: function(data){
              repswithprice=data.repswithprice

              let repid=parentdiv.find('.repsselectslivraison{{livraison.id}}').val()
              console.log(repid, repswithprice, data.representremise==0)
              if (repswithprice.includes(repid)){
                // if (representprice==0){
                //     addprice.val(sellprice)
                //
                //   }else{
                //     addprice.val(representprice)
                //   }
                  if (data.representremise==0){
                    addremise.val(remise)
                  }else{
                    addremise.val(data.representremise)
                  }
              }

            }
          })

        console.log('getting client price')
        $.ajax({
            url: "{% url 'products:getclientprice' %}",
            type: 'POST',
            data: {
              'target':'bl',
                'id': id,
                'clientid': parentdiv.find('.clientselectlivraison{{livraison.id}}').val()?parentdiv.find('.clientselectlivraison{{livraison.id}}').val():'{{livraison.client.id}}',
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: function(data){
              console.log(data.price)
              parentdiv.find('.addclientprice').text(data.price)
            }
          })

        let selected = $(this).find(':selected')
        // selected.remove()
        // delect selected option
    })

    $('.submitbonlivraison{{livraison.id}}').on('click', (e)=>{
      let parentdiv=$(e.target).parent().parent().parent().parent()
      if ($('.repsselectslivraison{{livraison.id}}').val()=='' || $('.datebonlivraison{{livraison.id}}').val()=='' || $('.ordernolivraison{{livraison.id}}').val()==''){
          parentdiv.find('.data').addClass('border border-danger')
          return
      }
      parentdiv.find('.data').removeClass('border border-danger')
      // check if .itemrow is exist
      if (parentdiv.find('.itemrow').length==0){
          parentdiv.find('.tableholder').addClass('border border-danger')
          return
      }
      //check aty and price
      parentdiv.find('.tableholder').removeClass('border border-danger')
        var isAnyEmpty = $('.notemptylivraison{{livraison.id}}').filter(function() { return $(this).val() == ''; }).length > 0;
          if (isAnyEmpty){
              let emptyInputs = $('input.notemptylivraison{{livraison.id}}').filter(function() {
                  return !this.value.trim();
              });

              // Add a red border to all empty input elements
              alertify.error('Veuillez remplir tous les champs obligatoires')
              emptyInputs.css('border', '1px solid red');
              $('input.notemptylivraison{{livraison.id}}').not(emptyInputs).css('border', '');
              $(this).attr('disabled', false)
              return
          }

        $('.submitbonlivraison{{livraison.id}}').addClass('disabled')
        trs=$('.bonlivraisonbodyupdate{{livraison.id}} tr')
        let products = []
        trs.each(function(){
            let tr = $(this)
            let qty = tr.find('.qty').val()
            let name = tr.find('.name').text()
            let ref = tr.find('.ref').text()
            let price = tr.find('.price').val()
            let remise = tr.find('.remise').val()
            let total = tr.find('.total').text()
            let clientprice = tr.find('.clientprice').text()
            let productid = tr.find('input[name="productid"]').val()
            let product = {
                'qty': qty,
                'name': name,
                'ref': ref,
                'price': price,
                'remise': remise,
                'total': total,
                'productid': productid,
                'clientprice': clientprice
            }
            products.push(product)
        })
        let clientid = $('.clientselectlivraison{{livraison.id}}').val()?$('.clientselectlivraison{{livraison.id}}').val():'{{livraison.client.id}}'
        let repid = $('.repsselectslivraison{{livraison.id}}').val()
        let datebon = $('.datebonlivraison{{livraison.id}}').val()
        let transport = $('.transportlivraison{{livraison.id}}').val()
        let note = $('.notelivraison{{livraison.id}}').val()
        let orderno = $('.ordernolivraison{{livraison.id}}').val()
        let totalbon=parseFloat($('.totalbonlivraison{{livraison.id}}').text())
        $('.loadingscreen').removeClass('d-none').addClass('d-flex')
        $.get('/products/checklivraisonno', {'no':orderno, 'id':'{{livraison.id}}'}, (data)=>{
          if (data.exist){
            $('.loadingscreen').removeClass('d-flex').addClass('d-none')
            $('.submitbonlivraison{{livraison.id}}').removeClass('disabled')
            alertify.error('CE NUMERO EST DEJA EXISTE')
          }
          else{

            $.ajax({
              url: "{% url 'products:updatebonlivraison' %}",
              type: 'POST',
              data: {
                'bonid': '{{livraison.id}}',
                'totalbon': totalbon,
                'clientid': clientid,
                'repid':repid,
                'transport':transport,
                'note':note,
                'datebon': datebon,
                'orderno': orderno,
                'products': JSON.stringify(products),
                'csrfmiddlewaretoken': '{{csrf_token}}'
              },
              success: function(data){
                $('.loadingscreen').removeClass('d-flex').addClass('d-none')
                localStorage.removeItem(`pdctsinbonlivraison{{livraison.id}}`)
                alertify.success('Bon livraison modifié')
                // delerte this tab
                deletetab('modifierlivraison{{livraison.id}}')
                createtab('addlistbonlivraison', 'list bl', '/products/listbonlivraison')

                }
            })
          }
        })
    })
    $('.searchbonlivraisoncreation{{livraison.id}}').on("keyup", function() {
  var value = $(this).val().toLowerCase();
  $(".bonlivraisoncreation{{livraison.id}} tbody tr").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  });
});



    // const selectElement = document.getElementById("my-select");

    // selectElement.addEventListener("keydown", function(event) {
    //     if (event.key === "Enter") {

    //         var [ref, name, dp, stock, id] = selectElement.value.split('§');
    //         let bonachatbody = $('.bonachatbody')
    //         let tr = `
    //         <tr>
    //             <td class="ref">${ref}</td>
    //             <td class="name">${name}</td>
    //             <td>${dp}</td>
    //             <td>${stock}</td>
    //             <td>
    //                 <select name"local" class="form-select local">
    //                     <option value="principal">Principal</option>
    //                     <option value="depot">Depot</option>
    //                 </select>
    //             </td>
    //             <td><input type="number" class="form-control calculate qty" onkeyup="calculate(event)" name="qty"></td>
    //             <td><input type="number" class="form-control calculate price" onkeyup="calculate(event)" name="price"></td>
    //             <td><input type="number" class="form-control calculate remise" onkeyup="calculate(event)" name="remise"></td>
    //             <td class="total"></td>
    //             <input type="hidden" name="productid" value="${id}">
    //             <td><button class="btn btn-danger btn-sm" onclick="removefrombon(this)">X</button></td>
    //         </tr>
    //         `
    //         bonachatbody.prepend(tr)
    //         // delect selected option
    //         selectElement.remove(selectElement.selectedIndex);
    //     }
    // });


    // const addtobon=(e, ref, name, stock)=>{
    //     let target = $(e.target)
    //     console.log(target)
    //     target.remove()
    //     let bonachatbody = $('.bonachatbody')
    //     let tr = `
    //     <tr>
    //         <td>${ref}</td>
    //         <td>${name}</td>
    //         <td>${stock}</td>

    //         <td><input type="number" class="form-control calculate qty" onkeyup="calculate(event)" name="qty"></td>
    //         <td><input type="number" class="form-control calculate price" onkeyup="calculate(event)" name="price"></td>
    //         <td class="total"></td>
    //         <td><button class="btn btn-danger btn-sm" onclick="removefrombon(this)">X</button></td>
    //     </tr>
    //     `
    //     bonachatbody.append(tr)
    // }


</script>
