{% for i in products %}

<tr class="productsbrand{{i.mark.id}}">
  <td><img src="{% if i.image %}{{i.image.url}} {% endif %}" style="width: 50%;"></td>
  <td>{{i.ref.upper}}</td>
  <td>{{i.name.upper}}</td>
  <td style="color: #ff6409;
  font-weight: bold;">
  {{i.stocktotalfarah}}
 </td>
 <td style="color: #ff6409;
  font-weight: bold;">
  {{i.stocktotalorgh}}
 </td>
  <td style="color:blue;font-weight: bold;">{{i.sellprice}}</td>
  <td>
    {{i.mark.name.upper}}
  </td>  
  </tr>

{% endfor %}
