{% load global_tags %}
{% for i in releve %}
    {% if forloop.counter == releve|length %}
    <!-- last iteration -->
    <div class="d-flex flex-column postion-relative livraison{{order.id}}holder p-3" style="min-height: 29.7cm;width: 21cm;">
      <!-- header -->
      <div class="px-2">
        <img src="/media/logos/logo2.jpg" alt="" style="width: 40%;" class="relvlogo mb-2 invisible">

        <div class="bg-gray rounded mb-3" style="width: 12em;
            border: 2px solid black;
            padding: 5px;
            background: #c7c7c78a;">
            <strong >
                Situation Client
            </strong>
        </div>
        <div class="mb-2">
            <strong>
                Du: {{startdate|date:'d/m/Y'}} - A: {{enddate|date:'d/m/Y'}}
            </strong>
        </div>
        <div class="d-flex justify-content-between">
            <div class="ms-5">
                <strong>
                    {{client.code}}
                </strong>
            </div>
            <div>
                <strong>
                    {{client.name}}
                </strong>
            </div>
            <div class="me-5">
                <strong>
                    {{client.city}}
                </strong>
            </div>
        </div>



      </div>

      <!-- relev items -->
      <div class="orderitems mt-3 bg-white rounded p-2 position-relative">
        <img width="1000em" class="relvlogo invisible" src="/media/logos/dd.png" style="
          position: absolute !important;
          right: 9.3em;
          opacity: 0.1;
          top: 5em;
          ">
        <table class="table table-bordered " style="border:1px solid;">
            <thead style="background: #c7c7c78a;">
                <tr class="bg-gray">
                    <td>Date</td>
                    <td>lable</td>
                    <td>debit</td>
                    <td>credit</td>
                    <td>sold</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="height:180mm; width: 15%">
                        {% for v in i %}

                        {{v.0.date|date:'d/m/Y'}} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for v in i %}
                        {% if v.1 == 'Bonlivraison' %}
                        {{v.0.bon_no}} {% if v.0.iscontre %}(contre){%endif%}<br>
                        {% elif v.1 == 'PaymentClientbl' %}
                            {% if v.0.mode == espece %}
                            Espece<br>
                            {% else %}
                            {{v.0.mode}} {{v.0.npiece|slice:"10"}}<br>
                            {% endif %}

                        {% elif v.1 == 'Avoirclient' %}
                        Avoir {{v.0.no}}<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <!-- debit -->
                    <td style="padding-left: 5px; width: 15%">
                        {% for v in i %}
                        {% if v.1 == 'Bonlivraison' %}
                        <span class="debitsoldbl">

                            {{v.0.total|floatformat:2|intspace}}
                        </span>
                        <br>
                        {% elif v.1 == 'PaymentClientbl' %}
                        <span class="debitsoldbl">
                        </span>
                        <br>

                        {% elif v.1 == 'Avoirclient' %}
                        <span class="debitsoldbl">
                        </span>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <!--  credit -->
                    <td style="padding-left: 5px; width: 15%">
                        {% for v in i %}
                        {% if v.1 == 'Bonlivraison' %}
                        <span class="creditsoldbl">
                        </span>
                        <br>
                        {% elif v.1 == 'PaymentClientbl' %}
                        <span class="creditsoldbl">
                            {{v.0.amount|floatformat:2|intspace}}
                        </span>
                        <br>

                        {% elif v.1 == 'Avoirclient' %}
                        <span class="creditsoldbl">
                            {{v.0.total|floatformat:2|intspace}}
                        </span>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <!-- sold -->
                    <td style="padding-left: 5px; width: 15%">
                        {% for v in i %}
                        <span class="sold"></span> <br>
                        {% endfor %}
                    </td>

                </tr>
            </tbody>
            <!-- we dont need footer in the first iteration -->
            <tfoot>
                <tr class="text-center">

                    <td colspan="2"></td>
                    <td class="totaldebitbl" style="background: #c7c7c78a; font-weight: bold;
    font-size: 21px;"></td>
                    <td class="totalcreditbl" style="background: #c7c7c78a; font-weight: bold;
    font-size: 21px;"></td>
                </tr>
                <tr class="text-center">

                    <td colspan="2"></td>
                    <td>Sold</td>
                    <td class="totalsold" style="background:  #c7c7c78a; font-weight: bold;
    font-size: 21px;"></td>
                </tr>
            </tfoot>
        </table>
        <!-- footer total -->


        </div>
        <small>
          page: {{forloop.counter}}/{{forloop.counter}}
        </small>
      </div>
    </div>


    {% else %}
    <div class="d-flex flex-column postion-relative livraison{{order.id}}holder p-3" style="min-height: 29.7cm;width: 21cm;">
      <!-- header -->
      <div class="px-2">
        <img src="/media/logos/logo2.jpg" alt="" style="width: 40%;" class="relvlogo mb-2 invisible">

        <div class="bg-gray rounded mb-3" style="width: 12em;
            border: 2px solid black;
            padding: 5px;
            background: #c7c7c78a;">
            <strong >
                Situation Client
            </strong>
        </div>
        <div class="mb-2">
            <strong>
                Du: {{startdate|date:'d/m/Y'}} - A: {{enddate|date:'d/m/Y'}}
            </strong>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <strong>
                    {{client.code}}
                </strong>
            </div>
            <div>
                <strong>
                    {{client.name}}
                </strong>
            </div>
            <div>
                <strong>
                    {{client.city}}
                </strong>
            </div>
        </div>



      </div>
      <!-- livraison items -->
      <div class="releve mt-3 bg-white rounded p-2 position-relative">
        <img width="1000em" class="relvlogo invisible" src="/media/logos/dd.png" style="
          position: absolute !important;
          right: 9.3em;
          opacity: 0.1;
          top: 5em;

          ">
        <table class="table table-bordered " style="border:1px solid;">
            <thead style="background: #c7c7c78a;">
                <tr class="bg-gray">
                    <td>Date</td>
                    <td>lable</td>
                    <td>debit</td>
                    <td>credit</td>
                    <td>sold</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="height:180mm; width: 15%">
                        {% for v in i %}

                        {{v.0.date|date:'d/m/Y'}} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for v in i %}
                        {% if v.1 == 'Bonlivraison' %}
                        {{v.0.bon_no}} {% if v.0.iscontre %}(contre){%endif%}<br>
                        {% elif v.1 == 'PaymentClientbl' %}
                            {% if v.0.mode == espece %}
                            Espece<br>
                            {% else %}
                            {{v.0.mode}} {{v.0.npiece}}<br>
                            {% endif %}

                        {% elif v.1 == 'Avoirclient' %}
                        Avoir {{v.0.no}}<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <!-- debit -->
                    <td style="padding-left: 5px;">
                        {% for v in i %}
                        {% if v.1 == 'Bonlivraison' %}
                        <span class="debitsoldbl">

                            {{v.0.total|floatformat:2|intspace}}
                        </span>
                        <br>
                        {% elif v.1 == 'PaymentClientbl' %}
                        <span class="debitsoldbl">
                        </span>
                        <br>

                        {% elif v.1 == 'Avoirclient' %}
                        <span class="debitsoldbl">
                        </span>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <!--  credit -->
                    <td style="padding-left: 5px; width: 15%">
                        {% for v in i %}
                        {% if v.1 == 'Bonlivraison' %}
                        <span class="creditsoldbl">
                        </span>
                        <br>
                        {% elif v.1 == 'PaymentClientbl' %}
                        <span class="creditsoldbl">
                            {{v.0.amount|floatformat:2|intspace}}
                        </span>
                        <br>

                        {% elif v.1 == 'Avoirclient' %}
                        <span class="creditsoldbl">
                            {{v.0.total|floatformat:2|intspace}}
                        </span>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <!-- sold -->
                    <td style="padding-left: 5px; width: 15%">
                        {% for v in i %}
                        <span class="sold"></span> <br>
                        {% endfor %}
                    </td>

                </tr>
            </tbody>

        </table>
      </div>
      <div style="float:right;">
        <small>
          page: {{forloop.counter}}/{{releve|length}}
        </small>
      </div>

    </div>
    {% endif %}
    {% endfor %}

<script>
  if (localStorage.getItem('showenteterelv') === 'true'){
    $('.relvlogo').removeClass('invisible')
  }
    var sold=0
    $('.sold').each(function(i, v){
        console.log($($('.creditsoldbl')[i]).text(), '-', parseFloat($($('.creditsoldbl')[i]).text()))
        sold+=parseFloat($($('.debitsoldbl')[i]).text().replace(/\s/g, ''))?parseFloat($($('.debitsoldbl')[i]).text().replace(/\s/g, '')):0
        sold-=parseFloat($($('.creditsoldbl')[i]).text().replace(/\s/g, ''))?parseFloat($($('.creditsoldbl')[i]).text().replace(/\s/g, '')):0
        // console.log(parseFloat($(this).prev().prev().text())?parseFloat($(this).prev().prev().text()):0)
        // sold+=parseFloat($(this).prev().prev().text())?parseFloat($(this).prev().prev().text()):0-parseFloat($(this).prev().text()?parseFloat($(this).prev().text()):0)
        $(this).text(sold.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ' '))

        $('.totalsold').text(sold.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ' '))

    })
    var totaldebit=0
    $('.debitsoldbl').each(function(){
        totaldebit+=parseFloat($(this).text().replace(/\s/g, ''))?parseFloat($(this).text().replace(/\s/g, '')):0
        $('.totaldebitbl').text(totaldebit.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ' '))

    })
    var totalcredit=0
    $('.creditsoldbl').each(function(){
        totalcredit+=parseFloat($(this).text().replace(/\s/g, ''))?parseFloat($(this).text().replace(/\s/g, '')):0
        $('.totalcreditbl').text(totalcredit.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ' '))

    })
</script>
