

<!-- addsupplier modal -->
<div class="modal fade" id="editsuppmodal" tabindex="-1" aria-labelledby="editsuppmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white">

            <div class="modal-body">

                <form class="form-horizontal add-ledger-form" id="updatesupplierform" autocomplete="off">
                    <div class="form-group">
                            {% csrf_token %}
                            <label>
                                <strong>Fournisseur (*)</strong>
                            </label>
                            <input type="text" class="form-control customer" name="pname" required>
                            <br>
                            <label>
                                <strong>Phone</strong>
                            </label>
                            <input type="text" class="form-control customer" name="pphone">
                            <br>
                            <br>
                            <label>
                                <strong>Address</strong>
                            </label>
                            <input type="text" class="form-control customer" name="paddress">
                            <br>
                            <br>
                            <input type="hidden" name="pid">

                            <br>

                            <br>
                            <button class="w-100 btn btn-primary updatesupplierbtn">Enregistrer</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="w-100 btn btn-secondary" data-dismiss="modal">Fermer</button>

            </div>
        </div>
    </div>
</div>
<div class="text-white rounded h3 d-flex align-items-center justify-content-between bg-darkblue">
    <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="deletetab('supplist')">x</button>
    <div>
      {{title}}
    </div>
    <button class="btn bg-orange" style="border:1px solid var(--orange);" onclick="forceupdatetab('supplist', '/products/supplierspage')">↻</button>
  </div>
<div class="card">
    <div class="card-body row">
      <div class="col-4">
        <div class="border-end p-2">
            <strong>
                + Ajouter un Fournisseur
            </strong>
            <form class="mt-3" id="addsupplierform">
                {% csrf_token %}
                <input type="text" name="suppnameinp" class="form-control mb-2" placeholder="Fournisseur">
                <input type="number" name="suppphone" class="form-control mb-2" placeholder="phone">
                <input type="text" name="address" class="form-control mb-2" placeholder="Addresse">
                <button class="btn btn-outline-success w-100 submitaddsupplierbtn">
                    Envoyer
                </button>
            </form>
        </div>
      </div>
      <div class="col-8">
        <input type="text" class="form-control searchsuppliersinput" placeholder="chercher">
        <div style="height: 60vh; overflow-y: scroll;">
            <table class="table table-bordered supplierstable table-hover">
                <thead style="background: gray;position: sticky;top: 0;">
                    <th style="width: 4%;"></th>
                    <th>
                        Fournisseur
                    </th>
                    <th>
                        phone
                    </th>
                    <th>
                        Sold
                    </th>
                </thead>
                <tbody>
                    {% for i in suppliers %}
                    <tr>
                        <td>
                            <button class="btn editsuppbtn border" id="{{i.id}}" data-toggle="modal" data-target="#editsuppmodal" onclick="populatesuppfields({{i.id}})">
                                ✐{{i.id}}
                            </button>
                        </td>
                        <td onclick="createtab('supp{{i.id}}', 'Fournisseur: {{i.name}}', '/products/supplier/{{i.id}}')">{{i.name}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.rest|floatformat:2}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>


<script>

    $('.searchsuppliersinput').on("keyup", function() {
    // Get the values from all filter input fields
        var filterValue = $(this).val().toLowerCase();

        // Split the filter value into individual terms based on the '&' sign
        var filterTerms = filterValue.split('+').map(function(term) {
            return term.trim();
        });

        // Iterate through the table rows
        $(".supplierstable tbody tr").each(function() {
            var rowText = $(this).text().toLowerCase();
            var showRow = true;

            // Check if all filter terms are present in the row text
            $.each(filterTerms, function(index, term) {
                if (term !== '' && rowText.indexOf(term) === -1) {
                    showRow = false;
                    return false; // Exit the loop early if a mismatch is found
                }
            });

            // Toggle the visibility of the row based on the filter criteria
            $(this).toggle(showRow);
        });
        total=0
        $('.supplierstable tbody tr:visible').each(function(){
        total+=parseFloat($(this).find('td:nth-child(4)').text())
        })
        $('.totalsoldsupp').text(total.toFixed(2))
    });
    $('.updatesupplierbtn').on('click', function(event){
        event.preventDefault()
        if ($('[name="pname"]').val()==""){
            $('[name="pname"]').css('border', '1px solid red')
            return
        }
        $(this).addClass('disabled')
        var formData = new FormData($('#updatesupplierform')[0]);
        $.ajax({
            type: 'POST',
            url: '{% url "products:updatesupplier" %}',  // Replace with your Django URL
            data: formData,
            processData: false,
            contentType: false,
            success:((data)=>{
                $('.modal-backdrop').remove()
                $(`#supplist`).html(data.html)
            })
        })
    })
    $('.submitaddsupplierbtn').on('click', function(event){
        console.log('suppdataudaye')
        event.preventDefault()
        if ($('[name="suppnameinp"]').val()==""){
            $('[name="suppnameinp"]').css('border', '1px solid red')
            return
        }
        var formData = new FormData($('#addsupplierform')[0]);
        $.ajax({
            type: 'POST',
            url: '{% url "products:addsupplier" %}',  // Replace with your Django URL
            data: formData,
            processData: false,
            contentType: false,
            success:((data)=>{
                $(`#supplist`).html(data.html)
            })
        })
    })

</script>
