{% extends 'base.html' %}
{% block css %}
<style>
    .fixeddetails{
      position: fixed;
      top: 0;
      right: 43px;
      width: 46%;
      z-index: 1030;
      margin-top: 10px;
      background: white;
    }
</style>
{% endblock %}
{% block content %}

  <!-- orders -->
  <div class="bg-white shadow rounded p-2">
    <div class="d-flex justify-content-between">
      <div>
        Commandes 
      </div>
      <div class="">
        <div class="badge bg-danger text-white">Non confirmé: {{notdel}}</div>
        <div class="badge bg-primary text-white">Confirmé: {{delivered}}</div>
        <!-- <div class="badge bg-success text-white">Payé: {{paied}}</div> -->
      </div>
    </div>
    <table class="table table-hover table-striped table-borded tablecommande">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Repr</th>
          <th>Paiment</th>
          <!-- <th>Total</th> -->
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr class="ord {% if order.isdelivered%}bg-primary text-white{%endif%} {% if order.ispaied%}bg-success text-white{%endif%}" orderid="{{order.code}}">
            <td>{{ order.id }}</td>
            <td>{{ order.date|date:'d/m/Y' }}</td>
            <td>{{ order.salseman }}</td>
            <td>{{ order.modpymnt }}</td>
            <!-- <td>{{ order.total}}</td> -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}
{% block js %}
<script>
  // wrap the code bellow inside document ready function
  $(document).ready(function() {
    // get how many rows in tablecommande table in jquery
    var rows = $('.tablecommande tr').length;
    // assign this value to nonvalider
    $('.nonvalider').html(rows-1);
  });




    $('.ord').each(function(){
      $(this).click(function(){
        
        id=$(this).attr('orderid');
        window.location.href='/salsemanorders/'+id
            // $.ajax({
            //     url: '/salsemanorders/'+id,
            //     type: 'POST',
            //     data:{
            //       'csrfmiddlewaretoken': '{{ csrf_token }}',
            //     },
            //     success: function(data){
            //       $('.orderitems').html(data.data);
            //       stoploading()
            //       $('.closeorderitems').click(function(){
            //         $('.orderitems').removeClass('openorder');
            //       })
            //     }
            // });
        });
    })

</script>
{% endblock %}