{% for i in products %}
<a class="suggestions__item suggestions__product mb-3 p-3" href="/product/{{i.id}}">
    <div class="col-4">
      <img src="{% if i.image %}{{i.image.url}}{% endif %}" alt="" style="width: 100%;">
    </div>
    <div class="suggestions__product-info">
      <div class="suggestions__product-name">
        <strong>{{i.mark.name.upper}} -</strong>  {{i.name.upper}}
      </div>
      
    </div>
    <strong class="text-primary">{{i.price}} Net</strong>
  </a>
{% empty %}
<strong>
    Pas de resultats
</strong>
{% endfor %}