<div class="d-flex justify-content-between bg-white">
  <strong>

    Equivalent de {{ref}}
  </strong>
  <button class="btn btn-sm bg-danger" onclick="$('.similarsholder').hide()"></button>
</div>
<hr>
{% for i in products %}
<div>
<div class="product-card__footer d-flex flex-column bg-white rounded border p-2 mb-2">

    <button class="btn btn-sm w-100 text-center rounded mt-2">
      REF: {{i.ref.upper}} - {{i.mark.name}}
    </button>
    <div class="product-card__prices p-2 border w-100 mt-2">
      <div class="product-card__price product-card__price--current ">
        {{i.sellprice|floatformat:2}} ({% if i.remise > 0 %}{{i.remise}}% {% else %}NET{% endif %})
      </div>

    </div>
{% if user.groups.all.0.name != 'admin' %}
    <div class="cart-table__quantity input-number mb-3"><input class="form-control input-number__input qty" type="number" min="{%if i.min|floatformat:-2%}{{i.min|floatformat:-2}}{%else%}1{%endif%}" value="{%if i.min|floatformat:-2%}{{i.min|floatformat:-2}}{%else%}1{%endif%}"><div class="input-number__add"></div><div class="input-number__sub"></div></div>
<button class="btn btn-primary w-100" pdct="{{i.id}}" pdctref="{{i.ref}}" pdctname="{{i.name}}" pdctpr="{{i.sellprice}}" pdctid="{{i.id}}" pdctimg="{% if i.image %}{{i.image.url}}{% endif %}" pdctmin="{{i.min|floatformat:-2}}" pdctcategory="{{i.category.title}}" onclick="addtocart(event, '{{i.id}}')">Cmnd</button>

{% endif %}
{% if i.checkprice %}
Prix cheque: {{i.checkprice|floatformat:2}} Net
{% endif %}
<button class="mt-3 added btn btn-sm bi bi-check bg-success text-white d-none"></button>
</div>
</div>
{% endfor %}       
<script>
  $('.input-number').customNumber();
</script>  